<div>
    <div class="deliveryinfo">
            <div class=" deliveryinfo-row row">
                <ul class="col-md-3 col-lg-3 col-sm-3 col-12 list-inline p-0 d-flex">
                    <li class="del1 pl-0">
                        <svg class="ml-0" width="36px" height="36px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Content/Theme/Smart/app/img/icons/icons.svg#gift"></use>
                        </svg>
                    </li>
                    <li class="se1 t-left text-xs-left mt-3px">
                        <h4>special gift cards</h4>
                        <p>give a perfect gift</p>
                    </li>
                </ul>
                <ul class="col-md-3 col-lg-3 col-sm-3 col-12 list-inline p-0 d-flex">
                    <li class="del4">
                        <svg width="36px" height="36px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Content/Theme/Smart/app/img/icons/icons.svg#pay"></use>
                        </svg>
                    </li>
                    <li class="se1 t-left text-xs-left mt-3px">
                        <h4>secure payment</h4>
                        <p>100% secure payment</p>
                    </li>
                </ul>
                <ul class=" col-md-3 col-lg-3 col-sm-3 col-12 list-inline text-center p-0 d-flex">
                    <li class="del2 ">
                        <svg width="36px" height="36px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Content/Theme/Smart/app/img/icons/icons.svg#support"></use>
                        </svg>
                    </li>
                    <li class="se1 t-left text-xs-left mt-3px">
                        <h4>24/7 support</h4>
                        <p>online support 24/7</p>
                    </li>
                </ul>
                <ul class=" col-md-3 col-lg-3 col-sm-3 col-12 text-right list-inline p-0 d-flex">
                    <li class="del3">
                        <svg width="36px" height="36px">
                            <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="/Content/Theme/Smart/app/img/icons/icons.svg#ship"></use>
                        </svg>
                    </li>
                    <li class="se1 t-left text-xs-left mt-3px">
                        <h4>free shipping</h4>
                        <p>on order over $25</p>
                    </li>
                </ul>
            </div>
    </div>
</div>
