.se-pre-con {
    background: url(../../images/loading.gif) center no-repeat;
}

th.header {
    background-image: url(images/bg.gif);
}

th.headerSortUp {
    background-image: url(images/asc.gif);
}

th.headerSortDown {
    background-image: url(images/desc.gif);
}

.btnadd {
    background-image: url('images/Add.png' );
}

.fixed-bottom {
    background-image: url(images/footer-bg.png);
}
