<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://warehouse-admin-dashboard.multipurposethemes.com/images/favicon.ico">

    <title>Shop Order - Log in </title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="~/Content/New/assets/css/vendors_css.css">
    <!-- Style-->
    <link rel="stylesheet" href="~/Content/New/assets/css/style.css">
    <link rel="stylesheet" href="~/Content/New/assets/css/skin_color.css">

</head>

<body class="hold-transition theme-primary bg-img" style="background-image: url(/content/new/images/auth-bg/bg-1.jpg)">

    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">

            <div class="col-12">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="bg-white rounded10 shadow-lg">
                            <div class="content-top-agile p-20 pb-0">
                                <h2 class="text-primary">Sign in Shop Orders</h2>
                                @*<p class="mb-0">Sign in Shop Orders</p>*@
                            </div>
                            <div class="p-40">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
                                            <input type="text" id="UserName" name="UserName" class="form-control ps-15 bg-transparent" placeholder="Username">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text  bg-transparent"><i class="ti-lock"></i></span>
                                            <input type="password" id="UserPassword" name="UserPassword" class="form-control ps-15 bg-transparent" placeholder="Password">
                                        </div>
                                    </div>

                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-danger mt-10">SIGN IN</button>
                                    </div>

                                }
                                @*<div class="text-center">
            <p class="mt-15 mb-0">Don't have an account? <a href="auth_register.html" class="text-warning ms-5">Sign Up</a></p>
        </div>*@
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Vendor JS -->
    <script src="~/Content/New/assets/js/vendors.min.js"></script>
    <script src="~/Content/New/assets/icons/feather-icons/feather.min.js"></script>

</body>

<!-- Mirrored from warehouse-admin-dashboard.multipurposethemes.com/main/auth_login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 21 Sep 2021 12:44:31 GMT -->
</html>
