<!DOCTYPE html>
<html lang="en">
@{
    Layout = null;
}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="https://warehouse-admin-dashboard.multipurposethemes.com/images/favicon.ico">

    <title>Truck Loading - Identify </title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="~/Content/New/css/vendors_css.css">
    <!-- Style-->
    <link rel="stylesheet" href="~/Content/New/css/style.css">
    <link rel="stylesheet" href="~/Content/New/css/skin_color.css">

</head>

<body class="hold-transition theme-primary bg-img" style="background-image: url(/content/new/images/auth-bg/bg-1.jpg)">

    <div class="container h-p100">
        <div class="row align-items-center justify-content-md-center h-p100">

            <div class="col-12">
                <div class="row justify-content-center g-0">
                    <div class="col-lg-5 col-md-5 col-12">
                        <div class="bg-white rounded10 shadow-lg">
                            <div class="content-top-agile p-20 pb-0">
                                <h2 class="text-primary">Sign in Truck Loading</h2>
                                @if (ViewBag.LoginError != null)
                                {
                                    <p class="mb-0 alert-danger text-uppercase">@ViewBag.LoginError</p>
                                }

                            </div>
                            <div class="p-40">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    <div class="form-group">
                                        <div class="input-group mb-3">
                                            <span class="input-group-text bg-transparent"><i class="ti-user"></i></span>
                                            <input type="text" id="vechileId" name="vechileId" class="form-control ps-15 bg-transparent" placeholder="Enter Vechile Id">
                                        </div>
                                    </div>

                                    <div class="col-12 text-center">
                                        <button type="submit" class="btn btn-danger mt-10">LOG IN</button>
                                    </div>

                                }
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Vendor JS -->
    <script src="~/Content/New/js/vendors.min.js"></script>
    <script src="~/Content/New/assets/icons/feather-icons/feather.min.js"></script>

</body>

</html>
