<section class="nb_sec nb_prdlisting_pgsec">
    <div class="container">
        <div class="breadCrumbtopsec basket-page-breadcrum">
            <div class="nb_bread_crumbwrap">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li>/</li>
                        <li class="breadcrumb-item"><a href="#">Basket</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="nb_sec">
            <div class="nb_header_style1">
                <h3>Shopping Basket</h3>
            </div>

            <div class="row">
                <div class=@(ViewBag.cart == null?"col-lg-8":"col-lg-12")  id="updateCart">
                    @Html.Action("_CartItemsPartial", "Products")
                </div>
            </div>
        </div>
    </div>
</section>

