
@{
    ViewBag.Title = "AddToCart";
    Layout = "~/Views/Theme/University/Shared/_Layout.cshtml";

}

<section class="nb_sec nb_prdlisting_pgsec">
    <div class="container">
        <div class="breadCrumbtopsec">
            <div class="nb_bread_crumbwrap">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#"><i class="icon-home"></i></a>
                        </li>

                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Basket</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="nb_sec">
            <div class="nb_header_style1">
                <h3>Basket</h3>
            </div>

            <div class="row">
                <div class="col-lg-8">
                    @Html.Action("_CartItemsPartial", "Products")
                </div>
                <div class="col-lg-4">
                    <div class="basketTotalwrap">
                        <h3 class="mainhd">Basket Total</h3>
                        <div class="subTotalwrap">
                            <span>Sub total</span>
                            <span>£52.98</span>
                        </div>
                        <div class="shipping_radiosec">
                            <h4 class="head">
                                Shipping:
                            </h4>
                            <ul class="shippingtyp_list">
                                <li>
                                    <div class="inputRadio">
                                        <input type="radio" id="shippingMtd1" name="radio-group" checked>
                                        <label for="shippingMtd1">Free Shipping</label>
                                    </div>
                                    <div class="cost">
                                        £10
                                    </div>
                                </li>
                                <li>
                                    <div class="inputRadio">
                                        <input type="radio" id="shippingMtd2" name="radio-group" checked>
                                        <label for="shippingMtd2">Standard</label>
                                    </div>
                                    <div class="cost">
                                        £2
                                    </div>
                                </li>

                                <li>
                                    <div class="inputRadio">
                                        <input type="radio" id="shippingMtd3" name="radio-group" checked>
                                        <label for="shippingMtd3">Express</label>
                                    </div>
                                    <div class="cost">
                                        £10
                                    </div>
                                </li>
                            </ul>
                            <div class="estimateWrap">
                                <span>Estimate for your Country</span>
                                <a href="">Change Address</a>
                            </div>
                            <div class="totalAmntsec">
                                <span>TOTAL</span>
                                <span>£52.98</span>
                            </div>
                            <div class="proceed_tocheckout">
                                Proceed to checkout
                            </div>
                        </div>
                    </div>
                    <button class="cont_shop_btn">Continue Shopping</button>
                </div>

            </div>
        </div>
</section>















