
@{
    ViewBag.Title = "Category";
}

 <section class="nb_sec nb_prdlisting_pgsec">
      <div class="container">
        <div class="breadCrumbtopsec">
          <div class="nb_bread_crumbwrap">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="#"><i class="icon-home"></i></a>
                </li>

                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Clothing</a></li>
              </ol>
            </nav>
          </div>
        </div>
        <div class="cat_sel_sec">
          <div class="nb_header_style1">
            <h3>Clothing</h3>
          </div>
          <div class="row">
            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
              <div class="nb_cat_selectBx">
                <span class="img_wrap">
                  <img src="~/Content/Theme/University/app/images/category/1.jpg" alt="" />
                </span>
                <span class="prdname">
                  Jacket
                </span>
              </div>
            </div>
            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
              <div class="nb_cat_selectBx">
                <span class="img_wrap">
                  <img src="~/Content/Theme/University/app/images/category/2.jpg" alt="" />
                </span>
                <span class="prdname">
                  T-Shirt
                </span>
              </div>
            </div>
            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
              <div class="nb_cat_selectBx">
                <span class="img_wrap">
                  <img src="~/Content/Theme/University/app/images/category/3.jpg" alt="" />
                </span>
                <span class="prdname">
                  Hoodies
                </span>
              </div>
            </div>
            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
              <div class="nb_cat_selectBx">
                <span class="img_wrap">
                  <img src="~/Content/Theme/University/app/images/category/4.jpg" alt="" />
                </span>
                <span class="prdname">
                  Sweet Shirt
                </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
              <div class="nb_cat_selectBx">
                <span class="img_wrap">
                  <img src="~/Content/Theme/University/app/images/category/5.jpg" alt="" />
                </span>
                <span class="prdname">
                  Accessories
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="nb_sec cat_pg_btmsec">
      <div class="container">
        <div class="row">
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="nb_prd_namewamnt_box">
              <span class="img_wrap">
                <img src="~/Content/Theme/University/app/images/cat_udersec/1.jpg" />
              </span>
              <h3 class="prd_name">Men's Jogging Bottoms - Black</h3>
              <span class="amnt">£31.00</span>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="nb_prd_namewamnt_box">
              <span class="img_wrap">
                <img src="~/Content/Theme/University/app/images/cat_udersec/2.jpg" />
              </span>
              <h3 class="prd_name">Men's Jogging Bottoms - Black</h3>
              <span class="amnt">£31.00</span>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="nb_prd_namewamnt_box">
              <span class="img_wrap">
                <img src="~/Content/Theme/University/app/images/cat_udersec/3.jpg" />
              </span>
              <h3 class="prd_name">Men's Jogging Bottoms - Black</h3>
              <span class="amnt">£31.00</span>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="nb_prd_namewamnt_box">
              <span class="img_wrap">
                <img src="~/Content/Theme/University/app/images/cat_udersec/4.jpg" />
              </span>
              <h3 class="prd_name">Men's Jogging Bottoms - Black</h3>
              <span class="amnt">£31.00</span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="nb_prd_namewamnt_box">
              <span class="img_wrap">
                <img src="~/Content/Theme/University/app/images/cat_udersec/4.jpg" />
              </span>
              <h3 class="prd_name">Men's Jogging Bottoms - Black</h3>
              <span class="amnt">£31.00</span>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="nb_prd_namewamnt_box">
              <span class="img_wrap">
                <img src="~/Content/Theme/University/app/images/cat_udersec/3.jpg" />
              </span>
              <h3 class="prd_name">Men's Jogging Bottoms - Black</h3>
              <span class="amnt">£31.00</span>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="nb_prd_namewamnt_box">
              <span class="img_wrap">
                <img src="~/Content/Theme/University/app/images/cat_udersec/2.jpg" />
              </span>
              <h3 class="prd_name">Men's Jogging Bottoms - Black</h3>
              <span class="amnt">£31.00</span>
            </div>
          </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="nb_prd_namewamnt_box">
              <span class="img_wrap">
                <img src="~/Content/Theme/University/app/images/cat_udersec/1.jpg" />
              </span>
              <h3 class="prd_name">Men's Jogging Bottoms - Black</h3>
              <span class="amnt">£31.00</span>
            </div>
          </div>
        </div>
          <div class="col-6 col-xs-6 col-sm-6 col-md-3 col-lg-3">
            <div class="nb_prd_namewamnt_box">
              <span class="img_wrap">
                <img src="~/Content/Theme/University/app/images/cat_udersec/3.jpg" />
              </span>
              <h3 class="prd_name">Men's Jogging Bottoms - Black</h3>
              <span class="amnt">£31.00</span>
            </div>
          </div>
        </div>
      </div>
    </section>

