@using Ganedata.Core.Entities.Domain
@using System.Configuration
@model ProductMaster
@{
    ViewBag.Title = Model.Name + " | " + ViewBag.SiteDescription;
    var Images = ConfigurationManager.AppSettings["ImageFormats"].Split(new char[] { ',' });
}
<section class="nb_sec nb_prdlisting_pgsec">
    <div class="container">
        <div class="breadCrumbtopsec">
            <div class="nb_bread_crumbwrap">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="#"><i class="icon-home"></i></a>
                        </li>
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">New</a></li>
                        <li class="breadcrumb-item">
                            <a href="#">Unisex Zipped Hoodie - Black</a>
                        </li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-lg-5">
                <div class="nb_prd_viewingsecWrap" id="Prod_carr_viewer">
                    <span id="zoomViewTrigger"><i class="icon-search"></i></span>
                    <span class="img_view_area">
                        <img id="zoom_01"
                             src="/Content/Theme/University/app/images/productslist/7.jpg"
                             data-zoom-image="/Content/Theme/University/app/images/productslist/7.jpg" />
                        <!-- <img src="/Content/Theme/University/app/images/productslist/7.jpg" alt="" /> -->
                    </span>
                    <div class="img_thumb_sliderwrap">
                        <div id="gal01"
                             class="owl-carousel owl-theme nb_imageZoomCarrousle">
                            <div class="item">
                                <a href="#"
                                   data-image="/Content/Theme/University/app/images/productslist/7.jpg"
                                   data-zoom-image="/Content/Theme/University/app/images/productslist/7.jpg">
                                    <img id="zoom_01"
                                         src="/Content/Theme/University/app/images/productslist/7.jpg"
                                         alt="" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#"
                                   data-image="/Content/Theme/University/app/images/productslist/6.jpg"
                                   data-zoom-image="/Content/Theme/University/app/images/productslist/6.jpg">
                                    <img id="zoom_01"
                                         src="/Content/Theme/University/app/images/productslist/6.jpg"
                                         alt="" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#"
                                   data-image="/Content/Theme/University/app/images/productslist/5.jpg"
                                   data-zoom-image="/Content/Theme/University/app/images/productslist/5.jpg">
                                    <img id="zoom_01"
                                         src="/Content/Theme/University/app/images/productslist/5.jpg"
                                         alt="" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#"
                                   data-image="/Content/Theme/University/app/images/productslist/4.jpg"
                                   data-zoom-image="/Content/Theme/University/app/images/productslist/4.jpg">
                                    <img id="zoom_01"
                                         src="/Content/Theme/University/app/images/productslist/4.jpg"
                                         alt="" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#"
                                   data-image="/Content/Theme/University/app/images/productslist/3.jpg"
                                   data-zoom-image="/Content/Theme/University/app/images/productslist/3.jpg">
                                    <img id="zoom_01"
                                         src="/Content/Theme/University/app/images/productslist/3.jpg"
                                         alt="" />
                                </a>
                            </div>
                            <div class="item">
                                <a href="#"
                                   data-image="/Content/Theme/University/app/images/productslist/2.jpg"
                                   data-zoom-image="/Content/Theme/University/app/images/productslist/2.jpg">
                                    <img id="zoom_01"
                                         src="/Content/Theme/University/app/images/productslist/2.jpg"
                                         alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7 col-lg-6 offset-lg-1">
                <div class="nb_prd_det_rightsec">
                    <h2 class="head">Unisex Zipped Hoodie - Black</h2>
                    <p class="subContent">
                        Contemporary chunky hooded zipped sweatshirt featuring
                        Northumbria University print to the left chest.
                    </p>
                    <span class="prd_amnt">£34.99</span>
                    <div class="col_Sec">
                        <span class="col_lbl">COLOR : BLACK</span>
                        <span class="col_box col_black"></span>
                    </div>
                    <div class="availibility">
                        <span>Availability:</span> <br />
                        hurry! only 10 items left
                    </div>
                    <div class="sizeWrap">
                        <p>SIZE : <span>XL</span></p>
                        <ul class="size_boxList">
                            <li class="col1"><a href="">s</a></li>
                            <li class="col2"><a href="">l</a></li>
                            <li class="col3 active"><a href="">m</a></li>
                            <li class="col4"><a href="">xl</a></li>
                            <li class="col4"><a href="">xxl</a></li>
                        </ul>
                    </div>
                    <div class="footSec">
                        <div class="qty">
                            <span>quantity</span>
                            <div class="sortBysec">
                                <select id="nb_prdpg_qtysel_box">
                                    <option value="volvo">1</option>
                                    <option value="saab">2</option>
                                </select>
                            </div>
                        </div>
                        <button class="addTobasket">
                            Add to basket
                        </button>
                        <button class="addtowishlistbtn">
                            Add to Wishlist
                        </button>
                        <a href="" class="addtowishlist">
                            <i class="icon-love"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="nb_prod_bottomdes">
                    <h3 class="head">Description</h3>
                    <p class="content">
                        Proin felis ex, maximus id accumsan ac, suscipit et dolor. Morbi
                        tristique magna condimentum tellus rhoncus vehicula. Praesent
                        varius neque eu arcu posuere porttitor. Mauris laoreet quis quam
                        sed feugiat. Pellentesque ac metus non dolor elementum
                        consectetur eget vulputate odio. Integer euismod risus et tortor
                        mollis, eget tristique lacus pretium. Pellentesque gravida felis
                        purus, ac elementum ex rutrum vitae. Nulla eu elit nec nisl
                        dictum eleifend.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="nb_sec nb_feat_prod_sec nb_umayalso_sec">
    <div class="container">
        <div class="nb_header_style2">
            <h3>You may also like</h3>
        </div>
        <div class="row">
            <div class="owl-carousel owl-theme nb_featuredPrdCarrousle">
                <div class="item" data-toggle="modal" data-target="#quickCartPopup">
                    <div class="prd_lst_boxouter">
                        <span class="imagewrap">
                            <img src="/Content/Theme/University/app/images/productslist/2.jpg" />
                        </span>
                        <h3 class="prdName">Bobble Hat</h3>
                        <div class="foot">
                            <span class="prd_amnt">£10.00</span>
                            <ul class="icolist">
                                <li>
                                    <a href=""><i class="icon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="icon-love"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="prd_lst_boxouter">
                        <span class="imagewrap">
                            <img src="/Content/Theme/University/app/images/productslist/3.jpg" />
                        </span>
                        <h3 class="prdName">Bobble Hat</h3>
                        <div class="foot">
                            <span class="prd_amnt">£10.00</span>
                            <ul class="icolist">
                                <li>
                                    <a href=""><i class="icon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="icon-love"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="prd_lst_boxouter">
                        <span class="imagewrap">
                            <img src="/Content/Theme/University/app/images/productslist/4.jpg" />
                        </span>
                        <h3 class="prdName">Bobble Hat</h3>
                        <div class="foot">
                            <span class="prd_amnt">£10.00</span>
                            <ul class="icolist">
                                <li>
                                    <a href=""><i class="icon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="icon-love"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="prd_lst_boxouter">
                        <span class="imagewrap">
                            <img src="/Content/Theme/University/app/images/productslist/1.jpg" />
                        </span>
                        <h3 class="prdName">Bobble Hat</h3>
                        <div class="foot">
                            <span class="prd_amnt">£10.00</span>
                            <ul class="icolist">
                                <li>
                                    <a href=""><i class="icon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="icon-love"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="prd_lst_boxouter">
                        <span class="imagewrap">
                            <img src="/Content/Theme/University/app/images/productslist/5.jpg" />
                        </span>
                        <h3 class="prdName">Bobble Hat</h3>
                        <div class="foot">
                            <span class="prd_amnt">£10.00</span>
                            <ul class="icolist">
                                <li>
                                    <a href=""><i class="icon-shopping-cart"></i></a>
                                </li>
                                <li>
                                    <a href=""><i class="icon-love"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    $(document).ready(function () {

        if ($(window).width() < 768) {
            $("#zoom_01").elevateZoom({
                gallery: "gal01",
                cursor: "pointer",
                galleryActiveClass: "active",
                imageCrossfade: true,
                loadingIcon: "",
                cursor: "crosshair",
                zoomWindowFadeIn: 500,
                zoomWindowFadeOut: 500,
                easing: true,
                zoomWindowWidth: 500,
                zoomWindowHeight: 500,
                responsive: true,
                borderSize: 1,
                destroyContainerOnResize: true,
                zoomWindowOffetx: 50,
                zoomWindowOffety: -25,
                zoomType: "inner",
            });
        } else {
            $("#zoom_01").elevateZoom({
                gallery: "gal01",
                cursor: "pointer",
                galleryActiveClass: "active",
                imageCrossfade: true,
                loadingIcon: "",
                cursor: "crosshair",
                zoomWindowFadeIn: 500,
                zoomWindowFadeOut: 500,
                easing: true,
                zoomWindowWidth: 500,
                zoomWindowHeight: 500,
                responsive: true,
                borderSize: 1,
                destroyContainerOnResize: true,
                zoomWindowOffetx: 50,
                zoomWindowOffety: -25,
                zoomType: "window",
            });
        }
        //pass the images to Fancybox
        $("#zoom_01").bind("click", function (e) {
            var ez = $("#zoom_01").data("elevateZoom");
            $.fancybox(ez.getGalleryList());
            return false;
        });

    });
</script>