
@{
    ViewBag.Title = "WishList";
}


<section class="nb_sec nb_prdlisting_pgsec">
    <div class="container">
        <div class="breadCrumbtopsec">
            <div class="nb_bread_crumbwrap">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li>></li>
                        <li class="breadcrumb-item"><a href="#">WishList</a></li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="nb_sec">
            <div class="nb_header_style1 wishlist-main-div">
                <h3>WishList</h3>
            </div>
            <div id="UpdateWishList">
                @Html.Action("_wishlistItems")
            </div>
        
        </div>
    </div>
</section>

