@using Ganedata.Core.Entities.Helpers
@using Ganedata.Core.Entities.Enums
@{
    var grid = Html.DevExpress().GridView(settings =>
    {
        settings.Name = "WebSiteNavigationGridView";
        settings.CallbackRouteValues = new { Controller = "WebsiteNavigations", Action = "_NavigationList", SiteId = ViewBag.SiteId };
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Settings.ShowHeaderFilterButton = false;
        settings.SettingsPopup.HeaderFilter.Height = 200;
        settings.Settings.ShowFilterBar = GridViewStatusBarMode.Visible;
        settings.KeyFieldName = "Id";

        settings.SettingsPager.Visible = true;
        settings.Settings.ShowGroupPanel = true;
        settings.Settings.ShowFilterRow = true;
        settings.SettingsBehavior.AllowFocusedRow = true;

        settings.SettingsAdaptivity.AdaptivityMode = GridViewAdaptivityMode.HideDataCells;
        settings.SettingsAdaptivity.AdaptiveColumnPosition = GridViewAdaptiveColumnPosition.Right;
        settings.SettingsAdaptivity.AdaptiveDetailColumnCount = 1;
        settings.SettingsAdaptivity.AllowOnlyOneAdaptiveDetailExpanded = false;
        settings.SettingsAdaptivity.HideDataCellsAtWindowInnerWidth = 0;
        settings.Columns.Add("TenantWebsites.SiteName").Caption="Site Name";
        settings.Columns.Add("Parent.Name").Caption="Parent Name";
        settings.Columns.Add("Name");
        settings.Columns.Add("Type");
        settings.Columns.Add(c =>
        {
            c.FieldName = "Image";
            c.Settings.AllowAutoFilter = DefaultBoolean.False;
            c.Settings.AllowSort = DefaultBoolean.False;
            c.SetDataItemTemplateContent(m =>
            {
                var Logo = (string)DataBinder.Eval(m.DataItem, "Image");
                if (!string.IsNullOrEmpty(Logo))
                {

                    ViewContext.Writer.Write("<img src='" + Logo + "'style='height:120px;width:120'>");
                }
            });
        });

        settings.Columns.Add(c =>
        {
            c.FieldName = "HoverImage";
            c.Settings.AllowAutoFilter = DefaultBoolean.False;
            c.Settings.AllowSort = DefaultBoolean.False;
            c.SetDataItemTemplateContent(m =>
            {
                var Logo = (string)DataBinder.Eval(m.DataItem, "HoverImage");
                if (!string.IsNullOrEmpty(Logo))
                {

                    ViewContext.Writer.Write("<img src='" + Logo + "'style='max-height:120px;width:120'>");
                }
            });
        });

        var Column = new MVCxGridViewColumn();
        Column.Caption = "Actions";
        Column.SetDataItemTemplateContent(m =>
        {
            var TypeId=(WebsiteNavigationType?)DataBinder.Eval(m.DataItem, "Type");
            if (TypeId == WebsiteNavigationType.Category)
            {
                var SiteId = DataBinder.Eval(m.DataItem, "SiteID");
                var NavigationId = DataBinder.Eval(m.DataItem, "Id");
                var functon = string.Format("AddProductToNavigation({0},{1})", SiteId, NavigationId);
                ViewContext.Writer.Write("<a href="+Url.Action("CreateProductNavigation", "WebsiteNavigations", new { SiteId = SiteId, NavigationId = NavigationId })+"><i class='btn fa fa-list' title='Add Product Website Map'></i></a>");


            }
        });
        settings.Columns.Add(Column);

        settings.ClientSideEvents.FocusedRowChanged = "OnGridFocusedRowChanged";
        settings.SettingsPager.PageSizeItemSettings.Visible = true;
        settings.SettingsPager.PageSizeItemSettings.Items = new string[] { "10", "20", "50" };

    });
}
@grid.Bind(Model).GetHtml()

