  <!-- footer section -->
<footer class="nb_footer">
    <div class="container">
        <div class="nb_footersec_inner">
            <a href="" class="nb_foot_logo">
                <img src="~/Areas/Shop/Content/Theme/University/app/images/logo.svg" />
            </a>
            <div class="followUsWrap">
                <h5>Follow Us On</h5>
                <ul>
                    <li>
                        <a href=""><i class="ico fb icon-facebook-logo"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="ico tw icon-twitter-logo"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="ico ln icon-linkedin-logo"></i></a>
                    </li>
                    <li>
                        <a href=""><i class="ico ig icon-instagram-logo"></i></a>
                    </li>
                </ul>
            </div>
            <div class="nb_footnav_wrap">
                <ul>
                    <li><a href="">Sitemap</a></li>
                    <li><a href="">FAQ</a></li>
                    <li><a href="">Contact</a></li>
                    <li><a href="">Delivery</a></li>
                </ul>
            </div>
            <ul class="nb_foot_payment_opt_lst">
                <li>
                    <a href=""><span class="card1"></span></a>
                </li>
                <li>
                    <a href=""><span class="card2"></span></a>
                </li>
                <li>
                    <a href=""><span class="card3"></span></a>
                </li>
                <li>
                    <a href=""><span class="card4"></span></a>
                </li>
            </ul>
            <hr />
            <div class="nb_footcontact_wrap">
                <p>
                    Official Northumbria University merchandise ordering system
                    powered by Creative Emporium on behalf of Northumbria
                    University<br />
                    Disclaimer | Privacy | Copyright Notice | Accessibility | Freedom
                    of Information | Charitable Status | Royal Charter Number :
                    XR11395<br />
                    Infinity Incorporated Ltd is the legal owner of Northumbria
                    University e-shop. Company number 3582519
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- footer section -->
