  <!-- features products section -->
<section class="nb_sec nb_feat_prod_sec">
    <div class="container">
        <div class="nb_header_style1">
            <h3>Featured Products</h3>
        </div>
        <div class="row">
            <div class="owl-carousel owl-theme nb_featuredPrdCarrousle">
                <div class="item">
                    <a href="productDetailpage.html" class="nb_fp_boxwrap">
                        <span class="prd_img">
                            <img src="~/Areas/Shop/Content/Theme/University/app/images/featured_product/1.jpg" alt="" />
                        </span>
                        <div class="prd_det_sec">
                            <h4 class="prd_name">Lanyard with Card Holder</h4>
                            <span class="prd_amnt"> £1.99</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="productDetailpage.html" class="nb_fp_boxwrap">
                        <span class="prd_img">
                            <img src="~/Areas/Shop/Content/Theme/University/app/images/featured_product/1.jpg" alt="" />
                        </span>
                        <div class="prd_det_sec">
                            <h4 class="prd_name">Lanyard with Card Holder</h4>
                            <span class="prd_amnt"> £1.99</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="productDetailpage.html" class="nb_fp_boxwrap">
                        <span class="prd_img">
                            <img src="~/Areas/Shop/Content/Theme/University/app/images/featured_product/3.jpg" alt="" />
                        </span>
                        <div class="prd_det_sec">
                            <h4 class="prd_name">
                                Bobble<br />
                                Hat
                            </h4>
                            <span class="prd_amnt"> £13.99</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="productDetailpage.html" class="nb_fp_boxwrap">
                        <span class="prd_img">
                            <img src="~/Areas/Shop/Content/Theme/University/app/images/featured_product/4.jpg" alt="" />
                        </span>
                        <div class="prd_det_sec">
                            <h4 class="prd_name">Varsity Jacket</h4>
                            <span class="prd_amnt"> £34.99</span>
                        </div>
                    </a>
                </div>
                <div class="item">
                    <a href="productDetailpage.html" class="nb_fp_boxwrap">
                        <span class="prd_img">
                            <img src="~/Areas/Shop/Content/Theme/University/app/images/featured_product/3.jpg" alt="" />
                        </span>
                        <div class="prd_det_sec">
                            <h4 class="prd_name">
                                Bobble<br />
                                Hat
                            </h4>
                            <span class="prd_amnt"> £13.99</span>
                        </div>
                    </a>
                </div>
            </div>
            <!-- <div class="col col-sm-6 col-md-3 col-lg-3">
              <div class="nb_fp_boxwrap">
                <span class="prd_img">
                  <img src="images/featured_product/1.jpg" alt="" />
                </span>
                <div class="prd_det_sec">
                  <h4 class="prd_name">Lanyard with Card Holder</h4>
                  <span class="prd_amnt"> £1.99</span>
                </div>
              </div>
            </div>
            <div class="col col-sm-6 col-md-3 col-lg-3">
              <div class="nb_fp_boxwrap">
                <span class="prd_img">
                  <img src="images/featured_product/2.jpg" alt="" />
                </span>
                <div class="prd_det_sec">
                  <h4 class="prd_name">Bear in Hoodie</h4>
                  <span class="prd_amnt"> £15.00</span>
                </div>
              </div>
            </div>
            <div class="col col-sm-6 col-md-3 col-lg-3">
              <div class="nb_fp_boxwrap">
                <span class="prd_img">
                  <img src="images/featured_product/3.jpg" alt="" />
                </span>
                <div class="prd_det_sec">
                  <h4 class="prd_name">
                    Bobble<br />
                    Hat
                  </h4>
                  <span class="prd_amnt"> £13.99</span>
                </div>
              </div>
            </div>
            <div class="col col-sm-6 col-md-3 col-lg-3">
              <div class="nb_fp_boxwrap">
                <span class="prd_img">
                  <img src="images/featured_product/4.jpg" alt="" />
                </span>
                <div class="prd_det_sec">
                  <h4 class="prd_name">Varsity Jacket</h4>
                  <span class="prd_amnt"> £34.99</span>
                </div>
              </div>
            </div> -->
        </div>
    </div>
</section>
