 <!-- subscribe section -->
<section class="nb_sec nb_sub_sec">
    <div class="container">
        <div class="nb_sub_wrap">
            <span class="left_beer">
                <img src="~/Areas/Shop/Content/Theme/University/app/images/sub_beer.png" />
            </span>
            <div class="sub_form_wrap">
                <div class="sub_form_wrap_inner">
                    <h5 class="sf_hd">Subscribe!</h5>
                    <p class="sf_des">
                        Subscribe to receive updates on new arrivals, special offers and
                        other discount information.
                    </p>
                    <form class="nb_home_sub_form" action="">
                        <div class="sf_input_wrap">
                            <input type="text" placeholder="Enter your mail Id" />
                            <button type="submit">
                                <i class="ico icon-right-arrow"></i>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- subscribe section -->
