 <!-- top categories section -->
<section class="nb_sec nb_top_catSection">
    <div class="container">
        <div class="nb_header_style1">
            <h3>Top Categories</h3>
        </div>
        <div class="accordion">
            <ul>
                <li>
                    <div>
                        <a href="listingpage.html">
                            <h2>Clothing</h2>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="listingpage.html">
                            <h2>What's New</h2>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="listingpage.html">
                            <h2>Graduation</h2>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="listingpage.html">
                            <h2>Marchandise</h2>
                        </a>
                    </div>
                </li>
                <li>
                    <div>
                        <a href="listingpage.html">
                            <h2>Contact</h2>
                        </a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</section>
<!-- top categories section -->
