@{
    ViewBag.Title = "OrderHistory";
}

    <div class="about bg-white custom-max-width m-auto pb-0">
                @Html.Partial("_AccountSideBar")
                <div class="col-md-9 col-sm-12 bg-white">
                    <div class="about-cnt">
                        <div class="content-wrapper select">
                            <h2 class="text-uppercase">My Orders</h2>
                            <br />
                            <div class="cartitem-details">
                                <div class="cartitem-imgtext ">
                                    <div class="cartitem-img">
                                        <a href="">
                                            <img src="~/Areas/Shop/Content/Theme/Smart/app/img/product/no_image.gif" />
                                        </a>
                                    </div>
                                    <div class="cartitem-text">
                                        <p><a href=""><strong>Product_Name</strong></a></p>
                                        <p><b style="color: #007600 !important;">In Stock</b></p>
                                        <p><b>SKU:</b> <span>SKUCode_100k8439</span></p>
                                        <p><b>Size:</b> <span>M</span></p>
                                        <p><b>Quantity:</b> <span>1</span></p>
                                    </div>
                                </div>
                                <div class="cartitem-price">
                                    <p><span>Price:</span><b>1100</b></p>
                                </div>
                            </div>

                            <div class="cartitem-details">
                                <div class="cartitem-imgtext ">
                                    <div class="cartitem-img">
                                        <a href="">
                                            <img src="~/Areas/Shop/Content/Theme/Smart/app/img/product/no_image.gif" />
                                        </a>
                                    </div>
                                    <div class="cartitem-text">
                                        <p><a href=""><strong>Product_Name</strong></a></p>
                                        <p><b style="color: #007600 !important;">In Stock</b></p>
                                        <p><b>SKU:</b> <span>SKUCode_100k8439</span></p>
                                        <p><b>Size:</b> <span>M</span></p>
                                        <p><b>Quantity:</b> <span>1</span></p>
                                    </div>
                                </div>
                                <div class="cartitem-price">
                                    <p><span>Price:</span><b>1100</b></p>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
    </div>