@{
    ViewBag.Title = "WhishList";
}

<div class="about bg-white custom-max-width m-auto pb-0">
            @Html.Partial("_AccountSideBar")
            <div class="col-md-9 col-sm-12 bg-white my-account login">
                <div class="about-cnt">
                    <div class="content-wrapper select">
                        <h2 class="text-uppercase">WishList</h2>
                        <br />
                        <div class="cartitem-details">
                            <div class="cartitem-imgtext ">
                                <div class="cartitem-img">
                                    <a href="">
                                        <img src="~/Areas/Shop/Content/Theme/Smart/app/img/product/no_image.gif" />
                                    </a>
                                </div>
                                <div class="cartitem-text">
                                    <p><a href=""><strong>Product_Name</strong></a></p>
                                    <p><b style="color: #007600 !important;">In Stock</b></p>
                                    <p><b>SKU:</b> <span>SKUCode_100k8439</span></p>
                                    <p><b>Size:</b> <span>M</span></p>

                                    <p class="cart-quantity">
                                        <b>Quantity:</b> <input type="number" min="0" placeholder="Qty" onchange="" value="1" />
                                        <a href="javascript:;" class="remove-btn cart-del" onclick=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                    </p>
                                </div>
                            </div>
                            <div class="cartitem-price">
                                <p><span>Price:</span><b>1100</b></p>
                                <p><span>Total:</span><b>1100</b></p>
                                <div class="button-submit">
                                    <button type="Submit" name="submitNewsletter" class="btn btn-block move-to-cart-btn">Move to Cart</button>
                                </div>
                            </div>
                        </div>

                        <div class="cartitem-details">
                            <div class="cartitem-imgtext ">
                                <div class="cartitem-img">
                                    <a href="">
                                        <img src="~/Areas/Shop/Content/Theme/Smart/app/img/product/no_image.gif" />
                                    </a>
                                </div>
                                <div class="cartitem-text">
                                    <p><a href=""><strong>Product_Name</strong></a></p>
                                    <p><b style="color: #007600 !important;">In Stock</b></p>
                                    <p><b>SKU:</b> <span>SKUCode_100k8439</span></p>
                                    <p><b>Size:</b> <span>M</span></p>

                                    <p class="cart-quantity">
                                        <b>Quantity:</b> <input type="number" min="0" placeholder="Qty" onchange="" value="1" />
                                        <a href="javascript:;" class="remove-btn cart-del" onclick=""><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</a>
                                    </p>
                                </div>
                            </div>
                            <div class="cartitem-price">
                                <p><span>Price:</span><b>1100</b></p>
                                <p><span>Total:</span><b>1100</b></p>
                                <div class="button-submit">
                                    <button type="Submit" name="submitNewsletter" class="btn btn-block move-to-cart-btn">Move to Cart</button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
</div>