.settings-bar {
    position: fixed;
    height: 80%;
    min-height: 200px;
    top: 10%;
    right: -350px;
    margin-top: 2px;
    width: 350px;
    padding-top: 10px;
    border-top: none;
    background-color: #fcfcfc !important;
    border: 1px solid lightgray;
    border-radius: 5px;
    z-index: 9999;
}

    .settings-bar h3 {
        font-size: 20px;
        padding-bottom: 10px;
        margin: 0 10px 10px 10px;
        border-bottom: 1px gray solid;
    }

    .settings-bar .col-md-5 {
        margin: 3px 0;
    }

.settings-bar-switch {
    position: absolute;
    left: -35px;
    display: table;
    background-color: #fcfcfc !important;
    bottom: 1px;
    padding: 9px;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    border: 1px solid lightgray;
    color: #777;
    transition: color .5s ease;
    width: 35px;
    height: 36px;
}

    .settings-bar-switch:hover {
        color: #222;
    }

.settings-bar-buttons {
    padding: 10px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#frmUISettings label {
    padding-right: 0 !important;
    line-height: 35px;
}

.field-validation-valid {
    display: none;
}

.validation-summary-valid {
    display: none;
}

#settings-bar-content,
#settings-bar-content > #frmSettingsBar {
    height: 100%;
}

.settings-bar-content-items {
    padding-top: 10px;
    height: calc(100% - 90px);
    overflow: auto;
}