<div class="row">
    <div class="col-md-12 report-date-header">
        <div class="input-group">
            <div class="col-md-12 text-center">
                <div class="input-group">
                    @Html.Label("Filter By Status", htmlAttributes: new { @class = "col-md-4" })
                    <div class="col-md-4">
                  @Html.DropDownList("PurchaseOrderStatus",
                  new List<SelectListItem>
                    {
                      new SelectListItem{ Text = "ALL", Value = "0"},
                      
                      new SelectListItem{ Text = "Complete", Value = "1",Selected=true}
                   }, new { @class = "chosen-select", onchange = "UASelectedValueChanged(this);" })


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
