@{
    ViewBag.Title = "Find PO";
}

<h2><span>Find Purchase Order</span></h2>
<script type="text/javascript">
    //<![CDATA[
    function OnGridFocusedRowChanged(s, e) {

        // s.GetRowValues(s.GetFocusedRowIndex(), 'ReturnID', OnGetRowValues);
        $('.selkey').val(s.GetRowKey(s.GetFocusedRowIndex()));
    }

    function OnGetRowValues(values) {
        //alert(values[0]);
        //$('.selkey').val(values[0]);
    }
    // ]]>
</script>

@Html.Hidden("selkey", null, new { @class = "selkey" })
@Html.Action("_FindPO")

<div class="row">
    @Html.ActionLink("View Detail", "POProgress", "PO", null, new { @class = "btn btn-primary popup Caction", target = "_blank" })
</div>

<div>
    <script type="text/javascript">
        $(function () {
            $('.popup').click(function (e) {
                window.open($(this).attr('href'), "_blank", "toolbar=yes, scrollbars=yes, resizable=yes, top=20, width=800, height=600");
                e.preventDefault();
            });
        });
    </script>
</div>