<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Content/images/favicon.ico">
    <title>Becsco Truck Load - Dashboard</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<style>
    .truck-container {
        padding-top: 0.6rem;
    }
    input[type="checkbox"]:checked {
        box-shadow: 0 0 0 3px hotpink;
        background-color:forestgreen;
    }
</style>
</head>


<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color:blue !important;">
        <a class="navbar-brand" href="/" style="color: white !important;">Truck Loading</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/Home/Index" style="color: white !important;">Load Truck</a>
                <a class="nav-item nav-link" href="/Home/unloadtruck" style="color: white !important;">Unload Truck</a>
            </div>
        </div>
    </nav>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <div class="truck-container" style="background-color: rgb(243, 246, 249)">
        @RenderBody()
    </div>





    @*<script src="~/Content/new/js/pages/chat-popup.js"></script>
        <script src="~/Content/new/assets/icons/feather-icons/feather.min.js"></script>
        <script src="~/Content/new/assets/vendor_components/jquery-toast-plugin-master/src/jquery.toast.js"></script>
        <script src="~/Content/new/assets/vendor_components/progressbar.js-master/dist/progressbar.js"></script>


        <script src="~/Content/new/js/jquery.smartmenus.js"></script>
        <script src="~/Content/new/js/menus.js"></script>
        <script src="~/Content/new/js/template.js"></script>
        <script src="~/Content/new/js/pages/toastr.js"></script>
        <script src="~/Content/new/js/pages/notification.js"></script>*@

</body>

</html>


<script>

    $(document).ready(function () {
        $(window).keydown(function (event) {
            if (event.keyCode == 13) {
                event.preventDefault();
                return false;
            }
        });
    });



</script>