@media (max-width: 1199px) {
    .nb_header .nb_mainnav ul li {
        padding: 0px 26px;
    }

    .nb_bannersec .np_bannerContentOuter {
        width: 90%;
    }

        .nb_bannersec .np_bannerContentOuter .nb_bnr_count {
            font-size: 18px;
        }

        .nb_bannersec .np_bannerContentOuter .nb_bannerCaptionWrap h5 {
            font-size: 22px;
            line-height: 30px;
        }

        .nb_bannersec .np_bannerContentOuter .nb_bannerCaptionWrap button {
            font-size: 16px;
        }

    .accordion ul li {
        transform: skew(0deg);
        width: 20%;
    }

    .nb_feat_prod_sec .nb_fp_boxwrap .prd_det_sec {
        padding: 0px;
    }

    .nb_sub_sec .nb_sub_wrap {
        padding: 0px 35px;
    }

        .nb_sub_sec .nb_sub_wrap .sub_form_wrap .sub_form_wrap_inner {
            padding-right: 0px;
        }

    .nb_prd_listing_wrap .tagList {
        display: inline-block;
        text-align: center;
        width: 100%;
    }

        .nb_prd_listing_wrap .tagList li {
            display: inline-block;
            margin-bottom: 10px;
            margin-left: 5px;
            margin-right: 5px;
        }

    .nb_prdlisting_pgsec .nb_prd_filterwrap {
        padding-right: 0px;
    }

    .contact_form_sec .contact_pg_wrap {
        padding: 0px;
    }

    .contact_form_sec .subHead_content {
        padding: 0px;
    }

    .nb_header
    .nb_mainnav > ul
    li.hav_mega_nav
    .mega_nav_wrap
    .mega_nav_wrap_inner {
        padding-left: 20px;
        min-width: 400px;
        min-height: 280px;
    }

        .nb_header
        .nb_mainnav > ul
        li.hav_mega_nav
        .mega_nav_wrap
        .mega_nav_wrap_inner:before {
            display: none;
        }

        .nb_header
        .nb_mainnav > ul
        li.hav_mega_nav
        .mega_nav_wrap
        .mega_nav_wrap_inner
        .meganav_firstcatList > li {
            padding: 0px;
        }

    .accordion ul li:nth-child(1) {
        right: auto;
        width: 170px;
    }

        .accordion ul li:nth-child(1):after {
            display: none;
        }

        .accordion ul li:nth-child(1) h2 {
            padding-right: initial;
        }

    .accordion ul li:nth-child(5) {
        left: auto;
        width: 170px;
    }

        .accordion ul li:nth-child(5):after {
            display: none;
        }

            .accordion ul li:nth-child(5):after h2 {
                padding-right: initial;
            }

    .accordion.have2child ul li:first-child {
        width: 48%;
        clip-path: none;
    }

    .accordion.have2child ul li:last-child {
        width: 48%;
        clip-path: none;
    }

        .accordion.have2child ul li:last-child:after {
            display: none;
        }

    #marqueeWrap ul {
        animation: marquee 15s linear infinite;
    }

    .accordion ul li:last-child {
        left: auto;
    }

        .accordion ul li:last-child:after {
            display: none;
        }
    .progressBarStep ul#progressList {
        width: 100%;
    }
}

@media (max-width: 1024px) {
    .nb_prd_det_rightsec .head {
        font-size: 26px;
    }

    .nb_prd_det_rightsec .subContent {
        font-size: 14px;
    }

    .nb_prd_det_rightsec .prd_amnt {
        font-size: 24px;
    }

    .nb_prd_det_rightsec .footSec .qty {
        margin-right: 20px;
    }

    .nb_prd_det_rightsec .footSec button.addTobasket {
        margin-right: 20px;
    }
}

@media (max-width: 991px) {
    .nb_header .nb_mainnav ul li {
        padding: 0px 15px;
    }

    .nb_header .nb_mainnav > ul > li.hav_sub_nav > a:before {
        margin-left: 5px;
    }

    .nb_header .nb_logowrap {
        width: 180px;
    }

    .nb_bannersec .np_bannerContentOuter .nb_bannerCaptionWrap {
        left: 110px;
    }

    .nb_feat_prod_sec .nb_fp_boxwrap .prd_det_sec .prd_amnt {
        font-size: 20px;
    }

    .nb_feat_prod_sec {
        padding: 60px 0px;
    }

        .nb_feat_prod_sec .nb_fp_boxwrap .prd_det_sec .prd_name {
            letter-spacing: 2px;
        }

    .nb_sub_sec {
        display: flex;
        align-items: center;
    }

    .search_wrap_main form {
        width: 80%;
    }

    .nb_sec_navlist li a {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

        .nb_sec_navlist li a i {
            margin: 5px 0px;
        }
}

@media (max-width: 768px) {
    .nb_fp_boxwrap {
        margin-bottom: 20px;
    }

    .nb_ftb_box {
        margin-bottom: 23px;
    }

    .left_beer {
        display: none;
    }

    .nb_sub_sec .nb_sub_wrap {
        padding: 0px 20px;
        text-align: center;
    }

    .accordion {
        height: auto;
        overflow: visible;
    }

        .accordion ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
        }

    .nb_top_catSection .accordion ul li {
        width: 43%;
        display: inline-block;
        margin-bottom: 20px;
        height: 260px;
    }

    .accordion ul li div a {
        height: 260px;
    }

    .nb_top_catSection .accordion ul li:last-child {
        width: 43%;
        left: auto;
    }

    .nb_top_catSection .accordion ul li div a h2 {
        color: #000;
        background: rgb(255, 255, 255);
    }

    .nb_top_catSection .accordion ul li:nth-child(1) {
        width: 43%;
    }

    .accordion ul:hover li {
        width: 43%;
    }

        .accordion ul:hover li:hover {
            width: 43%;
        }

    .accordion.have2child ul li:first-child {
        clip-path: none;
    }

    .accordion.have2child ul li:last-child {
        clip-path: none;
    }

    .accordion.have1child ul li {
        width: 100%;
    }

    .nb_bnr_count {
        display: none;
    }

    .nb_bannersec .np_bannerContentOuter .nb_bannerCaptionWrap {
        left: 20px;
    }

        .nb_bannersec .np_bannerContentOuter .nb_bannerCaptionWrap h5 {
            font-size: 12px;
            margin-bottom: 10px;
        }

        .nb_bannersec .np_bannerContentOuter .nb_bannerCaptionWrap button {
            font-size: 10px;
            padding-bottom: 8px;
        }

            .nb_bannersec .np_bannerContentOuter .nb_bannerCaptionWrap button:after {
                width: 60px;
                height: 2px;
            }

    .nb_top_catSection {
        padding: 30px 0px;
    }

    .nb_header_style1 h3 {
        font-size: 20px;
    }

    .nb_header_style1 {
        margin-bottom: 18px;
    }

    .ftb_sec {
        padding: 50px 0px;
    }

    .nb_header .nb_headicolst li {
        display: none;
    }

        .nb_header .nb_headicolst li.sir {
            display: block;
        }

    #nb_res_navTrigger {
        display: block;
    }

    .nb_mainnav {
        display: none;
    }

    .nb_header .nb_logowrap {
        padding: 29px;
        width: 215px;
    }

    .nb_firstNav_res_lst .nb_subnavWrap {
        position: relative;
        width: 100%;
        float: left;
        display: none;
    }

        .nb_firstNav_res_lst .nb_subnavWrap ul {
            width: 100%;
            float: left;
        }

            .nb_firstNav_res_lst .nb_subnavWrap ul li {
                width: 100%;
                float: left;
            }

    .nb_s_snList {
        display: none;
        padding-left: 20px;
        width: 100%;
        float: left;
    }

        .nb_s_snList li {
            width: 100%;
            float: left;
        }

            .nb_s_snList li a {
                display: inline !important;
                float: left;
            }

    .hav_sub_nav2:hover .nb_s_snList {
        display: block;
    }

    .nb_f_snList {
        margin: 0px;
        padding-left: 10px;
    }

        .nb_f_snList li a {
            font-size: 16px !important;
        }

    .nb_s_snList {
        margin: 0px;
    }

        .nb_s_snList li a {
            font-size: 14px !important;
        }

    .hav_sub_nav a {
        display: inline !important;
        font-size: 16px;
    }

    .hav_sub_nav:hover .nb_subnavWrap {
        display: block;
    }

    .hav_sub_nav2 a {
        display: inline;
    }

    .nb_fltr_accrd_wrap {
        margin-bottom: 50px;
    }

    .nb_prd_listing_wrap .prd_lst_boxouter .foot .prd_amnt {
        padding: 3px 11px;
    }

    .nb_prd_listing_wrap .prd_lst_boxouter .foot .icolist {
        display: none;
    }

    .nb_prd_listing_wrap .prd_lst_boxouter .foot {
        flex-direction: column;
    }

    .nb_prd_listing_wrap .prd_lst_boxouter .prdName {
        min-height: auto;
        max-height: auto;
    }

    .nb_prdlisting_pgsec .breadCrumbtopsec {
        flex-direction: column;
    }

        .nb_prdlisting_pgsec .breadCrumbtopsec .nb_bread_crumbwrap nav ol {
            margin-bottom: 25px;
        }

    .contact_form_sec .contact_pg_wrap .nb_contact_form .form-group {
        margin-bottom: 15px;
    }

    .nb_prd_filterwrap {
        position: fixed;
        width: 320px !important;
        left: 0;
        top: 150px;
        background-color: #fff;
        z-index: 100;
        padding: 20px;
        box-shadow: 0px 0px 10px -5px #000;
        overflow-y: auto;
        height: 100%;
        transition: all 0.3s ease;
        transform: translateX(-320px);
    }

        .nb_prd_filterwrap.show {
            transform: translateX(0px);
        }

    #res_filterBox_trigger {
        display: flex;
    }

    .search_wrap_main {
        display: none;
    }

    .nb_sec_navwrap .nb_sec_navlist {
        width: 620px;
    }

    .navListWrap {
        overflow: scroll;
    }
    .progressBarStep ul#progressList li span.txt {
        display: none;
    }
    .progressBarStep ul#progressList li .HalfCircle {
        display: none;
    }

    .progressBarStep ul#progressList li:after {
        width: 60px;
        height: 60px;
    }

    .progressBarStep {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }
}

@media (max-width: 480px) {
    .nb_bannersec .np_bannerContentOuter .nb_bannerCaptionWrap h5 {
        font-size: 13px;
        line-height: 18px;
    }

    .nb_header .nb_logowrap {
        padding: 0px 10px 10px 10px;
        width: 150px;
    }

    .nb_header .nb_headicolst li i {
        font-size: 20px;
    }

    .nb_header .nb_headicolst li {
        padding: 0px 16px;
    }

    .nb_prd_det_rightsec .footSec .qty {
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .nb_prd_det_rightsec .footSec button.addTobasket {
        width: 100%;
        margin-bottom: 13px;
    }

    .prd_lst_boxouter .foot .icolist li a i {
        font-size: 20px;
    }

    .nb_prd_det_rightsec .footSec .addtowishlist {
        display: none;
    }

    .nb_prd_det_rightsec .footSec .addtowishlistbtn {
        display: inline-block;
        width: 100%;
        background-color: #f33655;
    }

        .nb_prd_det_rightsec .footSec .addtowishlistbtn:hover {
            background-color: #000;
        }

    .nb_basket_wrap table.basketTable tbody tr td .prdimgsec .prdimg {
        margin-right: 10px;
    }

    .nb_basket_wrap table.basketTable tbody tr td .prdimgsec .prdname {
        width: 65%;
        letter-spacing: 0px;
        font-size: 14px;
    }

    .nb_basket_wrap table.basketTable tbody tr td {
        padding: 10px;
    }

        .nb_basket_wrap table.basketTable tbody tr td .prdimgsec .prdimg {
            width: 35%;
        }

    .nb_basket_wrap div.coupen_codewrap {
        justify-content: center;
    }

    .nb_basket_wrap table.basketTable tbody tr td {
        display: block;
    }

    .nb_basket_wrap table.basketTable {
        width: 100%;
        float: left;
        display: block;
    }

        .nb_basket_wrap table.basketTable thead {
            display: none;
        }

        .nb_basket_wrap table.basketTable tbody {
            width: 100%;
            display: block;
            float: left;
        }

            .nb_basket_wrap table.basketTable tbody tr {
                width: 100%;
                float: left;
                display: block;
            }

                .nb_basket_wrap table.basketTable tbody tr td {
                    width: 100%;
                    float: left;
                    display: block;
                }

    #signupPopup
    .modal-dialog
    .modal-content
    .modal-body
    .loginForm
    .rememberWrap {
        flex-direction: column;
    }

        #signupPopup
        .modal-dialog
        .modal-content
        .modal-body
        .loginForm
        .rememberWrap
        .form-check {
            margin-bottom: 10px;
        }

    .nb_top_catSection .accordion ul li {
        width: 40%;
        margin: 10px;
        display: inline-block;
    }

        .nb_top_catSection .accordion ul li:last-child {
            width: 40%;
            left: auto;
        }

        .nb_top_catSection .accordion ul li div a h2 {
            color: #000;
            background: rgb(255, 255, 255);
        }

        .nb_top_catSection .accordion ul li:nth-child(1) {
            width: 40%;
        }

    .nb_top_catSection .accordion ul:hover li {
        width: 40%;
    }

    .accordion.have2child ul li:first-child {
        width: 45%;
        clip-path: none;
    }

    .accordion.have2child ul li:last-child {
        width: 45%;
        clip-path: none;
    }

    .accordion.have1child ul li {
        width: 100%;
    }
}

@media (max-width: 420px) {
    .nb_basket_wrap table.basketTable tbody tr td .prdimgsec .prdimg {
        width: auto;
        margin-bottom: 10px;
    }

    .nb_basket_wrap table.basketTable tbody tr td .prdimgsec .prdname {
        width: auto;
    }

    .nb_basket_wrap table.basketTable tbody tr td .prdimgsec {
        justify-content: center;
        flex-direction: column;
    }
}
