<div class="offerbanner d-xs-none">
    <div class="beffect">
        <a href="#">
            @*<img src="/Areas/Shop/Content/app/img/left-banner.jpg" alt="banner" class="img-responsive" />*@
        </a>
    </div>
</div>
