<div class="topbanner">
    <div class="row">
        <div class="imgbanner side-banner col-12 col-lg-3 col-md-2 d-xs-none">
            <div class=" beffect">
                <a href="#">
                    <img src="/Areas/Shop/Content/app/img/home/Banner_1.png" alt="banner" class="img-responsive" />
                </a>
            </div>
        </div>
        <div class="cbanner col-12 col-lg-6 col-md-12">
            <div class="beffect">
                <a href="#">
                    <img src="/Areas/Shop/Content/app/img/home/Banner_2.png" alt="banner" class="img-responsive center-block" />
                </a>
            </div>
            <div class="beffect">
                <a href="#">
                    <img src="/Areas/Shop/Content/app/img/home/Banner_3.png" alt="banner" class="img-responsive center-block" />
                </a>
            </div>
        </div>
        <div class="col-3 col-lg-3 col-md-2 side-banner d-xs-none">
            <div class="sellbanner beffect">
                <a href="#">
                    <img src="/Areas/Shop/Content/app/img/home/Banner_4.png" alt="banner" class="img-responsive center-block" />
                </a>
            </div>
        </div>
    </div>
</div>
