@model Ganedata.Core.Models.ForgotViewModel
@{
    ViewData["Title"] = "Forgot your password?";    
    ViewData["AppWithFooter"] = true;
}

@using (Html.BeginForm("ForgotPassword","User"))
{
    <!-- BEGIN login -->
    <div class="login">
        <!-- BEGIN login-content -->
        <div class="login-content">
            <h2 class="">@ViewData["Title"]</h2>
            <div class="text-muted mb-4">
                Enter your email.
            </div>
                <div class="form-group">
                    @Html.TextBoxFor(m=> m.Email, new { @class= "form-control form-control-lg", placeholder = "username@address.com" })
                    @Html.ValidationMessageFor(m=>m.Email)
                </div>
                <button type="submit" class="btn btn-default btn-block fw-500 mb-3">Submit</button>

                <div class="text-center">
                    <a href="@Url.Action("Login", "User")">Go back to <b>Login</b> screen</a>
                </div>
        </div>
        <!-- END login-content -->
    </div>
    <!-- END login -->
}
