
@{
    ViewBag.Title = "Yard Management - BusinesSense - GaneData";
    ViewBag.Description = "Zebra MortionWorks Yard Management System facilitates the continuous flow of materials and goods between transport systems and distribution centres";
}

<!-- slider-area-start -->
<div class="slider-area">
    <div class="single-slider ptb-150" style="background-image:url(img/services/yard-banner.jpg)"></div>
    <div class="custom-green" style="padding: 20px; color: #ffffff;">
        <p class="page-title"><strong>YARD: OPERATION MANAGEMENT SYSTEM</strong></p>
        <!--<p class="page-subtitle">Automate your warehouse daily operation to improve accuracy and fulfilment rates</p>-->
    </div>
</div>

<section class="mt-30">
    <div class="row container-fluid pl-30 pr-30 custom-max-width m-auto">
        <div class="col-lg-6 description">
            <p style="text-align: justify;">
                With the constant movement of trailers, your yard is dynamic. Knowing the location and movement of assets and resources is critical to managing a safe and productive yard.<br>
                Zebra Motion Works™ Yard facilitates the continuous flow of material and goods between your transportation systems and distribution centers or manufacturing plants, increases gate transaction speed, improves switcher productivity and ensures the right trailer arrives at the right dock door, at the right time.<br>
                <strong>Manage All Important Assets With Real-time Insights</strong><br>
                When you know where everything is, and its operational status, you gain strategic insights to better predict, manage and optimize your operations to better compete. Use accurate real-time data about yard resources, combined with flexible business rules, to keep equipment and product moving through your yard.<br>
                <strong>Save Time and Money</strong><br>
                Intelligent trailer move assignments and path optimization cut costs by reducing<br>
                switcher deadhead time, resulting in more trailer moves per hour and a reduction in fuel and maintenance expense. Automatic door assignments help keep doors occupied, resulting in less downtime. Automating processes to maximize yard real estate ensures you make the best possible use of every parking space and dock door in your yard.
            </p>
            <iframe src="https://www.youtube.com/embed/zd5-elvuglY?feature=oembed" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            <p><strong>LOCATION SOLUTIONS THAT PUT YOUR YARD MILES AHEAD</strong></p>
            <p>
                <strong>Visibility That Increases Throughput</strong><br>
                Visibility to all things critical to your operation delivers deep insights to better manage your yards more efficiently. Use actionable insights to optimize operations, ﬁne-tune yard processes and sync your staff, systems and shipments. This gives you new operational insights into your caravan inventory management and process controls. To deliver on time, every time.<br>
                <strong>Improved Yard Management</strong>
            </p>
            <ul>
                <li>Yard Jockey: Optimise yard jockey productivity through intelligent task assignments that are synchronised with your warehouse or distribution operations. Yard manager can monitor and control trailer move operations from one screen, mounted in-vehicle or mobile tablet.</li>
                <li>Gate: Streamline gate transactions with customer configurable check-in/check-out process, with the options for manual or automated gate processes. Schedule vehicle flow to the gate avoiding tailbacks and bottlenecks.</li>
                <li>
                    Dock Door: Management module provides an efficient tool for dock personnel and forklift drivers to view and update trailer information, which<br>
                    increases door turns.
                </li>
            </ul>
            <iframe src="https://www.youtube.com/embed/eWf22QwZmak?feature=oembed" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            <p style="text-align: justify;">
                <strong>SEE YOUR LOADING OPERATIONS FROM A NEW PERSPECTIVE</strong><br>
                Imagine if you could see into every trailer on your loading docks at the same time, in real time. You would instantly know how to maximise cargo space to cut fuel consumption, minimize bottlenecks to speed up work, and improve performance to enhance job satisfaction and safety. Now, you can get that visionary visibility with Zebra’s SmartPack™ Trailer – a landmark load planning solution providing transportation and logistics customers with real-time operational visibility into their loading operations.<br>
                SmartPack transforms your trailer loading operations by capturing data such as load density, trailer capacity, load quality, wall-by-wall build profiles and images of loads in progress, giving organisations unprecedented insights to achieve peak levels of performance and profitability.
            </p>
        </div>
        <div class="col-lg-6 side-img">
            <div class="mb-10 plr">
                <img src="~/img/services/yard-top.jpeg">
            </div>
            <div class="mb-10 plr">
                <img src="~/img/services/yard-middle.jpg">
            </div>
            <div class="mb-10 plr">
                <img src="~/img/services/yard-bottom.jpeg">
            </div>
        </div>
    </div>
</section>
<!-- service-area-start -->
<div class="service-area pt-80 pb-30">
    <div class="container-fluid pl-30 pr-30 custom-max-width m-auto">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <a href="warehouse-management-system">
                    <div class="single-service text-center">
                        <div class="service-icon"><img src="~/img/solutions/Warehouse_management.png"></div>
                        <div class="service-text">
                            <h3>
                                Warehouse Management
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Automate your warehouse daily operation to improve accuracy and fulfillment rates.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="stock-control-system">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/Stock_control.png"> </div>
                        <div class="service-text">
                            <h3>
                                Stock Control
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Accurate real time stock visibility across multiple sites and locations.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="epod-system">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/EPoD.png"></div>
                        <div class="service-text">
                            <h3>
                                EPoD
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Provides reliable and accurate proof of delivery and collection, enabling signature and image capture.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="shoppertrak-business-intelligence">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/Business_intelligence.png"></div>
                        <div class="service-text">
                            <h3>
                                Business Intelligence
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Help your business to harness the power of data, inventory and loss prevention and turn insights into outcomes.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="real-time-location-system">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/Rfid.png"></div>
                            <div class="service-text">
                                <h3>
                                    RFID-IoT
                                </h3>
                            </div>
                        <div class="service-text">
                            <p>RFID Enabled item-level visibility of inventory across the enterprise. TrueVUE provides the foundation for Unified Commerce.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="ecommerce">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/Ecommerce.png"></div>
                        <div class="service-text">
                            <h3>
                                eCommerce
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Integrated web trading platform for B2B or B2C”, apps for mobile/Tablet sales. Marketplace integration.</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<!-- service-area-end -->
