<!-- footer start -->
<footer>
    <div class="footer-area grey-bg ptb-20">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12">
                    <div class="footer-widget md-30">
                        <div class="footer-address">
                            <p style="text-align: center;">
                                <strong>GANE DATASCAN LIMITED</strong><br>
                                Airedale House, Clayton Wood Rise<br>
                                Leeds, LS16 6RF, United Kingdom<br>
                                Company Reg. 3666242
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12">
                    <div class="widget mb-30">
                        <div class="widget-title">
                            <div class="footer-nav">
                                <a href="get-started">Get Started</a>
                                <a href="promotions">Promotions</a>
                                <a href="privacy-policy">Privacy Policy</a>
                                <a href="blog">Blog</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-12">
                    <div class="widget mb-30">
                        <div class="widget-title">
                            <div class="social-icons text-center">
                                <a href="https://www.facebook.com/GaneData"><i class="fa fa-facebook"></i></a>
                                <a href="https://twitter.com/GaneData"><i class="fa fa-twitter"></i></a>
                                <a href="https://www.linkedin.com/company/gane-data-scan"><i class="fa fa-linkedin"></i></a>
                                <a href="https://www.youtube.com/channel/UC1RWy0Y362z1-Px3KhRev4A"><i class="fa fa-youtube"></i></a>
                                <a href="#"><i class="fa fa-google-plus"></i></a>
                                <a href="#"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="copyright text-center">
                <p>© All rights reserved, - Gane DataScan Limited - 2019</p>
            </div>
        </div>
    </div>
</footer>
<!-- footer end -->