<!-- header start -->

    <header>
        <div class="header-top-area hidden-xs">
            <div class="pr-30 pl-30">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <ul class="top-right">
                            <li class="phone-1">
                                <i class="fa fa-phone"></i>
                                <span>0333-32 30 202</span>
                            </li>
                            <li>
                                <i class="fa fa-user"></i>
                                <a href="#">Login</a>
                                <span> / </span>
                                <a href="#">Help</a>
                                <!--<span>Support@mail.com</span>-->
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-sm-6 hidden-xs">
                        <div class="header-icon floatright">
                            <a href="https://www.facebook.com/GaneData"><i class="fa fa-facebook"></i></a>
                            <a href="https://twitter.com/GaneData"><i class="fa fa-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/gane-data-scan"><i class="fa fa-linkedin"></i></a>
                            <a href="https://www.youtube.com/channel/UC1RWy0Y362z1-Px3KhRev4A"><i class="fa fa-youtube"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href="#"><i class="fa fa-dribbble"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-menu-area-start -->
        <div class="main-menu-area" id="navbar">
            <div class="pr-30 pl-30">
                <div class="row ptb-10 navbar-row">
                    <div class="col-md-3 col-sm-3 col-lg-2 logo-div">
                        <div class="logo">
                            <a href="home"><img src="~/img/logo/logo.png" alt="" width="200" /></a>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-lg-6 top-menu">
                        <div class="main-menu">
                            <nav id="primary_nav_wrap" class="header-nav">
                                <ul>
                                    <li>
                                        <a href="#">Solutions</a>
                                        <ul id="in_dropdown">
                                            <div class="div1 in-dropdown-div">
                                                <li><a href="warehouse-management-system">Warehouse Management</a></li>
                                                <li><a href="order-management-system">Order Management</a></li>
                                                <li><a href="stock-control-system">Stock Management</a></li>
                                                <li><a href="epod-system">EPoD</a></li>
                                            </div>
                                            <div class="div2 in-dropdown-div">
                                                <li><a href="mobile-van-sales">Field / Van Mobile Sales</a></li>
                                                <li><a href="yard-management">Yard Managemen</a></li>
                                                <li><a href="ecommerce">ECommerce</a></li>
                                                <li><a href="epos-self-service">EPoS & Self Service</a></li>
                                            </div>
                                            <br />
                                            <div class="div3 in-dropdown-div">
                                                <li><a href="truevue-retail-rfid-solution">RFID Retail Inventory</a></li>
                                                <li><a href="real-time-location-system">Asset Location</a></li>
                                                <li><a href="HR-time-and-attendance">Human Resources</a></li>
                                                <li><a href="mobile-device-management">Mobile Device Management</a></li>
                                            </div>
                                            <div class="div4">
                                                <li><a href="digital-signage">Digital Signage</a></li>
                                                <li><a href="shoppertrak-business-intelligence">Business Intelligence</a></li>
                                                <li><a href="loss-prevention">Loss Prevention</a></li>
                                                <li><a href="fleet-management-system">Fleet Tracking Management</a></li>
                                            </div>


                                        </ul>
                                    </li>
                                    <li><a href="services">Services</a></li>
                                    <li><a href="blog">Blog & News</a></li>
                                    <li><a href="about-us">About Us</a></li>
                                    <li><a class="hardware-active" href="https://shop.ganedata.co.uk">Hardware</a></li>
                                    <li class="book-demo-1"><a href="getstarted">Book A Demo</a></li>
                                    @*<li><a href="#"><i class="fa fa-search"></i></a></li>*@
                                </ul>
                            </nav>
                        </div>
                        <div class="mobile-menu-area"></div>
                    </div>
                    <div class="col-md-3 col-sm-3 col-lg-4 text-right phone-n-demo">
                        <ul class="phone-2">
                            <li>
                                <i class="fa fa-phone"></i>
                                <span>0333-32 30 202</span>
                            </li>
                        </ul>
                            <span class="book-demo-2"><a href="get-started">Book A Demo</a></span>
                    </div>
                </div>
            </div>
        </div>
        <!-- main-menu-area-end -->
    </header>
<!-- header end -->