
@{
    ViewBag.Title = "AboutUs";
}
    <div class="custom-max-width m-auto">

        <div class="slider-area">
            <div class="single-slider ptb-100 bg-opacity" style="background-image:url(img/bg/about-banner.jpg)">
                <div class="container">
                    <div class="slider-text text-center">
                        <h1 class="cd-headline clip is-full-width">
                            <span class="cd-words-wrapper">
                                <b class="is-visible">About Ganedata</b>
                                <b>Here you can check what our company is about</b>
                            </span>
                        </h1>
                        <a class="custom-green" href="get-started">Book a Demo <i class="fa fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid pl-30 pr-30">
            <div class="description mt-30 text-center">
                <div style="color:#00b45a;font-size:28px;">
                    <p>
                        GaneData is the leading provider cloud centric business solutions with integrated RFID/IoT & Mobility
                        technologies
                    </p>
                </div>
                <div class="mt-30"></div>
                <div class="text-justify">
                    <p>
                        GaneData are the leaders in enterprise mobility, Internet of
                        Things (IoT) and cloud centric solutions some of the UKs’ largest and most
                        well-known organizations trust GaneData to keep their inhouse highly connected
                        ERP/data capture platforms state up and running.
                    </p>
                    <p>
                        The company have built an enviable reputation over
                        the past twenty years creating bespoke solutions for many highly respected
                        companies to include FTSE100 and leading SME s, major projects Cloud ticketing
                        platform for the London Olympics LOCOG, RFID Track and Trace for major brands,
                        IoT projects for TYCO/JCI and several NHS Trusts. Active participant in research
                        lead IoT/Mobile projects sponsored by the EU H2020 Future Internet
                        collaborations and UK TSB.
                    </p>
                    <p>
                        The company has traded since 1998 offer a wide range of
                        bespoke solutions ranging from Web, Mobile, App development, integration to leading
                        ERP systems, Cloud, IoT right through to hosting and data migrations services. The
                        company has quickly become the leaders within their field due to their unique
                        consultancy offering which sees clients actively taking part in Scrum meetings in
                        order to deliver projects more effectively and faster.
                    </p>
                </div>
            </div>
        </div>


        <div class="service-area pt-80 pb-30">
            <div class="container-fluid pl-30 pr-30">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="single-service text-center mb-70">
                            <div class="service-icon">
                                <img src="~/img/bg/time.png">
                            </div>
                            <div class="service-text">
                                <h4>Since 1998</h4>
                                <p>We’ve been providing the highest quality professional services to businesses around the world to help them succeed.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-service text-center mb-70">
                            <div class="service-icon">
                                <img src="~/img/bg/place.png">
                            </div>
                            <div class="service-text">
                                <h4>Global</h4>
                                <p> We have clients around the world – awarded International Business of the Year 2018 by UK Department of Trade. Collaborated in EU PPP IoT-5G Projects. </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-4">
                        <div class="single-service text-center mb-70">
                            <div class="service-icon">
                                <img src="~/img/bg/star.png">
                            </div>
                            <div class="service-text">
                                <h4>Major Projects</h4>
                                <p>A track record of delivering mission critical projects on schedule, in budget for clients LOCOG’s successful London Olympics 2012. </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-area" style="background-image:url(img/bg/desk11.jpg); background-position: center;">

            <div class="pt-100 pb-100" style="background-color: #000000; opacity: 0.8;">
                <div class="container-fluid pl-30 pr-30">
                    <div class="text-center text-white">
                        <p>
                            GaneData carefully examines its business strategy, manufacturing capacities and processes to improve
                            efficiency, ensure quality and a sustainable ecosystem. GaneData supplies quality products at
                            competitive prices with flexible and timely delivery. The company’s mobile computers, barcode and
                            RFID scanners are integrated into the networks of some of the world’s best known logistics, retail,
                            automotive, distribution, government installations and healthcare companies, helping them run more
                            efficiently and effectively onsite and on the road.
                        </p>
                    </div>
                </div>
            </div>
        </div>


        <div class="container-fluid pl-30 pr-30 mt-30">
            <div class="col-sm-6">
                <h3>01. Valued Added Distributor</h3>

                <p class="text-justify">Alongside the trusted distribution channel GaneData offers our manufacturing partners to sell the r products, the company goes one step further. Ganedata manages the full range of programs and services, including marketing and warehousing, technical support training, business development and professional services. Our valued partnerships with leading manufacturer such as Zebra, Honeywell, Panasonic, Cipherlab, Godex and Advantech. Ensuring our clients the best of breed hardware products at the best price-performance.</p>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" src="~/img/bg/VAD-1.jpg">
            </div>

        </div>

        <div class="container-fluid pl-30 pr-30 mt-30">
            <div class="col-sm-6">
                <img class="img-responsive" src="~/img/bg/HS-1.jpg">
            </div>
            <div class="col-sm-6">
                <h3>02. Managed Services</h3>

                <p>
                    GaneData supply an end-to-end support package, tailored to meet your specific needs. A highly-personalised
                    service offering, designed to give you peace of mind. Access to our highly-trained mobility and application
                    development experts, whilst benefitting from regular service reviews.
                    -Hosting
                    -Infra-structure and Connectivity
                    -Mobile and End Point Device Management
                    -Support and bespoke SLA’s
                    -Training and Implementation
                </p>
            </div>
        </div>
        <div class="container-fluid pl-30 pr-30 mt-30 mb-30">
            <div class="col-sm-6">
                <h3>03. Consult, Innovate & Build</h3>

                <p>
                    GaneData are committed to research, innovation, development and testing so that you can rest assured that
                    your software investment is fully future-proofed. Our Development and Testing team are dedicated to
                    providing a cutting-edge product packed with new modules, features and enhancements that meets the
                    ever-changing demands of today’s fast paced trading environments. Expert specialist help: Custom software
                    module development no need for extra expensive resources in your IT department- and we’ll ensure that the
                    benefits of your investment are maximized
                </p>
            </div>
            <div class="col-sm-6">
                <img class="img-responsive" src="~/img/bg/RD-1.jpg">
            </div>

        </div>

        <div class="row client-head mt-20">
            <div class="col-md-12 text-center">
                <h2>Helping to unlock their potential</h2>
                <p>We are technologist, software engineers and designers delivering bespoke customer-centric solutions for many businesses and organisation within Retail, Finance, Wealth and Health.</p>
            </div>
        </div>

        <div class="container-fluid pl-30 pr-30 client-row">
            <div class="client-img">
                <img src="~/img/clients/AirWair.jpg" alt="image">
            </div>
            <div class="client-img">
                <img src="~/img/clients/BECSCO.jpg" alt="image">
            </div>
            <div class="client-img">
                <img src="~/img/clients/Boost.jpg" alt="image">
            </div>
            <div class="client-img">
                <img src="~/img/clients/BT.jpg" alt="image">
            </div>
        </div>
        <div class="container-fluid pl-30 pr-30 client-row">
            <div class="client-img">
                <img src="~/img/clients/Lexon.png" alt="image">
            </div>
            <div class="client-img">
                <img src="~/img/clients/gist.jpg" alt="image">
            </div>
            <div class="client-img">
                <img src="~/img/clients/Regal.jpg" alt="image">
            </div>
            <div class="client-img">
                <img src="~/img/clients/Knights.png" alt="image">
            </div>
        </div>
        <div class="container-fluid pl-30 pr-30 client-row">
            <div class="client-img">
                <img src="~/img/clients/LV.jpg" alt="image">
            </div>
            <div class="client-img">
                <img src="~/img/clients/london.jpg" alt="image">
            </div>
            <div class="client-img">
                <img src="~/img/clients/PP.jpg" alt="image">
            </div>
            <div class="client-img">
                <img src="~/img/clients/Furniture.jpg" alt="image">
            </div>
        </div>
        <div class="container-fluid pl-30 pr-30 client-row">
            <div class="client-img">
                <img src="~/img/clients/Siemens.jpg" alt="image">
            </div>
            <div class="client-img">
                <img src="~/img/clients/payzone.jpg" alt="image">
            </div>
            <div class="cclient-img">
                <img src="~/img/clients/HouseOfFraser.jpg" alt="image">
            </div>
            <div class="client-img">
                <img src="~/img/clients/NHS.jpg" alt="image">
            </div>
        </div>
    </div>