
@{
    ViewBag.Title = "Blog";
}

<div class="slider-area">
    <div class="single-slider ptb-100 bg-opacity" style="background-image:url(img/bg/blog-banner.jpg)">
        <div class="container">
            <div class="slider-text text-center">
                <h1 class="cd-headline clip is-full-width">
                    <span class="cd-words-wrapper">
                        <b class="is-visible">Our Latest News</b>
                        <b>Read Interesting Blogs</b>
                    </span>
                </h1>
                <a class="custom-green" href="getstarted">Book a Demo <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pl-30 pr-30 mt-30 custom-max-width">
    <div class="description mt-30 mb-30 text-center">
        <div class="text-center">
            <h2 style="font-size: 45px;">Blog & News</h2>
        </div>
        <div class="mt-30"></div>
        <div class="text-center">
            <p>Our Media & News sections are designed to provide up-to-date technical information and objective discussions on all aspects of Barcoding, AIDC and EPoS systems.</p>
        </div>
    </div>
</div>

<div class="container-fluid pl-30 pr-30 mt-30 custom-max-width">
    <div class="col-md-6">
        <a href="https://shop.ganedata.co.uk/blog/category/ganenews/">
            <div class="grey-bg1 pt-30 pb-30 pl-40 pr-40 mb-10">
                <div class="What-wedo-text text-center">
                    <div class="icon mb-20">
                        <span class="icon-bg"><i class="fa fa-newspaper-o"></i></span>
                    </div>
                    <h2 class="mb-20">News</h2>
                    <p class="mb-20">Latest news and events from Gane Data, including press releases, product announcements and bug fixes.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="https://shop.ganedata.co.uk/blog">
            <div class="grey-bg1 pt-30 pb-30 pl-40 pr-40 mb-10">
                <div class="What-wedo-text text-center">
                    <div class="icon mb-20">
                        <span class="icon-bg"><i class="fa fa-comments-o"></i></span>
                    </div>
                    <h2 class="mb-20">Blog</h2>
                    <p class="mb-20">Gane Data’s blog provides a whole host of informative and objective articles based on AIDC and EPoS hardware and software.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="#">
            <div class="grey-bg1 pt-30 pb-30 pl-40 pr-40 mb-10">
                <div class="What-wedo-text text-center">
                    <div class="icon mb-20">
                        <span class="icon-bg"><i class="fa fa-book"></i></span>
                    </div>
                    <h2 class="mb-20">Case Studies</h2>
                    <p class="mb-20">Without our customers we wouldn’t have grown to be the company we are today. We are proud thousands of customers to date.</p>
                </div>
            </div>
        </a>
    </div>
    <div class="col-md-6">
        <a href="Promotions">
            <div class="grey-bg1 pt-30 pb-30 pl-40 pr-40 mb-10">
                <div class="What-wedo-text text-center">
                    <div class="icon mb-20">
                        <span class="icon-bg"><i class="fa fa-tags"></i></span>
                    </div>
                    <h2 class="mb-20">Promotions</h2>
                    <p class="mb-20">
                        View all of our latest <strong>offers</strong> and <strong>promotions</strong>.
                    </p>
                </div>
            </div>
        </a>
    </div>
</div>

