
@{
    ViewBag.Title = "Illumineye our Powerful digital signage solution software, remote management and displays. - GaneData";
    ViewBag.Description = "A digital signage content management system that builds audience engagement. Our products enable you to display content for retailers, fastfood emenus & healthcare operators";
}
<!-- slider-area-start -->
<div class="slider-area">
    <!--<div class="single-slider ptb-150" style="background-image:url(img/services/ds-banner.gif)"></div>-->
    <div class="text-center">
        <img src="~/img/services/ds-banner.gif">
    </div>
    <div class="custom-green" style="padding: 20px; color: #ffffff;">
        <p class="page-title"><strong>Digital Signage</strong></p>
        <p class="page-subtitle">Powerful Illumineye digital signage solution from VXL Software, remote management and compatible displays.</p>
    </div>
</div>

<section class="mt-30">
    <div class="container-fluid pl-30 pr-30 custom-max-width m-auto">
        <div class="row">
            <div class="col-md-6 description mt-15">
                <h3 class="text-justify">It’s everything you need – just add displays</h3>
                <p class="text-justify">Illumineye is an integrated software suite which works seamlessly with our range of media players. It’s a complete solution that’s fully scalable, suitable for every kind of organisation from lgall/medium businesses through to international organisations.</p>
                <h3 class="text-justify">No ongoing fees: perpetual licence</h3>
                <p class="text-justify">Unlike a lot of today’s software, Illumineye is purchased via a perpetual licence – which means that there are no uncomfortable ongoing fees for the software itself. Support is included for the first year and is optional thereafter.</p>
                <h3 class="text-justify">Software to create, manage and display</h3>
                <p class="text-justify">Our integrated digital signage software suite comprises three easy-to-use applications:</p>
                <ul class="text-justify">
                    <li>Illumineye Creator – a template-based design package created for people who aren’t professional designers. Media content is added by dragging and dropping and there are lots of formatting options.</li>
                    <li>Illumineye Manager – a powerful campaign management tool which allows you to schedule as much content as you want, on as many players as you need, anywhere in the world.</li>
                    <li>
                        Illumineye Players – our high-performance and robust media players are responsible for playing the content pushed out via Illumineye Manager.

                    </li>
                </ul>
                <h3 class="mt-20 text-justify"> Affordable, low-power Illumineye media players</h3>
                <p class="text-justify">Illumineye’s HD and 4K media players are compact, powerful multimedia devices. They have no moving parts and are designed to work 24 hours a day, 7 days a week, 365 days a year.</p>
            </div>
            <div class="col-md-6 side-img">
                <div class="row">
                    <div class="col-md-12">
                        @*<img src="~/img/services/ds-middle.jpg">*@
                        <iframe src="https://www.youtube.com/embed/cxJMnHt6Ph0?feature=oembed" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" scrolling="no" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="row row-img-div">
                    <div class="img-div">
                        <img src="~/img/services/ds-top.jpg">
                    </div>
                    <div class="img-div">
                        <img src="~/img/services/ds-middle.jpg">
                    </div>
                    <div class="img-div">
                        <img src="~/img/services/ds-bottom.jpg">
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid pl-30 pr-30 usecase mt-50 mb-30 custom-max-width m-auto">

        <div class="row side-img">
            @*<div class="row text-center mt-50 mb-30">
                    <div class="col-md-12">
                        <h3>Market ans Usecases</h3>
                        <p>Illumineye Digital Signage in action around the world.</p>
                    </div>
                </div>*@
            <div class="col-md-6 usecase-data" style="text-align: -webkit-center;">
                <div class="text-center">
                    <h3>Market ans Usecases</h3>
                    <p>Illumineye Digital Signage in action around the world.</p>
                </div>
                <table>
                    <tbody style="border:1px solid black;">
                        <tr style="border:1px solid black;">
                            <th style="border-right:1px solid black;"><strong>Markets</strong></th>
                            <th><strong>Use Cases</strong></th>
                        </tr>
                        <tr>
                            <td width="350" style="border-right:1px solid black;">
                                <ul>
                                    <li>Car dealerships</li>
                                    <li>Corporate and business</li>
                                    <li>Education organisations</li>
                                    <li>Entertainment organisations</li>
                                    <li>Financial services organisations</li>
                                    <li>Gyms and fitness clubs</li>
                                    <li>Healthcare organisations</li>
                                    <li>Hospitality businesses</li>
                                    <li>Manufacturing businesses</li>
                                    <li>Museums and art galleries</li>
                                    <li>Outdoor and indoor advertising</li>
                                    <li>Petrol/gas stations and service areas</li>
                                    <li>Public-sector organisations</li>
                                    <li>Restaurants and quick-service restaurants</li>
                                    <li>Retailers, shops and stores</li>
                                    <li>Sports venues</li>
                                    <li>Transport hubs and transport companies</li>
                                </ul>
                            </td>
                            <td width="302" style="padding-bottom: 192px;">
                                <ul>
                                    <li>Indoor advertising</li>
                                    <li>Information boards</li>
                                    <li>Menu boards</li>
                                    <li>Outdoor advertising</li>
                                    <li>Point of sale areas</li>
                                    <li>Touchscreen displays</li>
                                    <li>Interactive Kiosks</li>
                                    <li>Customer Engagement</li>
                                    <li>Video walls</li>
                                    <li>Wayfinding</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6 usecase-img mt-80">
                <div class="row text-center">
                    <div class="col-md-12">
                        <img style="height: 208px; width: 315px;margin-top: -80px; margin-right: 10px;" class="mb-10" src="~/img/gallery/1.jpg">
                        <img style="height: 280px; width: 316px; margin-bottom: 19px;" class="mb-10" src="~/img/gallery/2.jpg">
                    </div>
                    <div class="col-md-12">
                        <img style="width: 316px;height: 299px;margin-top: -81px;" src="~/img/gallery/3.jpg">
                        <img style=" width: 316px;margin-left: 10px;height: 227px;margin-top: -6px;" src="~/img/gallery/4.jpg">
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container-fluid pl-30 pr-30 mt-20 custom-max-width m-auto">

    </div>
</section>
<!-- service-area-start -->
<div class="service-area pt-80 pb-30">
    <div class="container-fluid pl-30 pr-30 custom-max-width m-auto">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <a href="epod-system">
                    <div class="single-service text-center">
                        <div class="service-icon"><img src="~/img/solutions/Epose_self_service.png"> </div>
                        <div class="service-text">
                            <h3>
                                EPOS & Self Service
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Single integrated cloud platform cloud for managing your hospitality or retail estate.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="stock-control-system">
                    <div class="single-service text-center">
                        <div class="service-icon"><img src="~/img/solutions/Stock_control.png"></div>
                        <div class="service-text">
                            <h3>
                                Stock Control
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Accurate real time stock visibility across multiple sites and locations.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="HR-time-and-attendance">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/Human_resources.png"> </div>
                        <div class="service-text">
                            <h3>
                                Human Resources
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Time and Attendance with Bio-metrics with HR paperless process automation.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="shoppertrak-business-intelligence">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/Business_intelligence.png">  </div>
                        <div class="service-text">
                            <h3>
                                Business Intelligence
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Automate your warehouse daily operation to improve accuracy and fulfillment rates.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="warehouse-management-system">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/Warehouse_management.png"> </div>
                        <div class="service-text">
                            <h3>
                                Warehouse Management
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Automate your warehouse daily operation to improve accuracy and fulfillment rates.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="loss-prevention">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/Lose_prevention.png"> </div>
                        <div class="service-text">
                            <h3>
                                Loss Prevention
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Shrink Management as a Service (lgaaS) designed to help enhance productivity.</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<footer>
    <div class="disclaimer">
        <p>Fusion UEM and ‘VXL Software’ are registered trading names or trademarks (The “Marks”) of VXL Software Solutions Pvt Ltd in Europe and/or other countries / jurisdictions.</p>
        <hr>
    </div>
</footer>

<!-- service-area-end -->
