
@{
    ViewBag.Title = "EPOS & Self Service system to support your customer journey, Touchcomputer, Tablet and Koisk whilst protecting your investment - BusinesSense - GaneData";
    ViewBag.Description = "EPOS & Self service software for Hospitality, Retail and Healthcare. Customers can place orders at interactive touchscreen menu or Electronic Point of Sale";
}

<!-- slider-area-start -->
<div class="slider-area">
    <div class="single-slider ptb-150" style="background-image:url(img/services/epos-banner.jpg)"></div>
    <div class="custom-green" style="padding: 20px; color: #ffffff;">
        <p class="page-title"><strong>EPoSense Electronic Point of Sale & Self Service</strong></p>
        <p class="page-subtitle">Manage your hospitality or retail store estate from one platform</p>
    </div>
</div>

<section class="mt-30">
    <div class="row container-fluid pl-30 pr-30 custom-max-width m-auto">
        <div class="col-lg-6 description">
            <p>
                <strong>Scalability with ease of use</strong><br>
                The system can be adapted to your business: from a single touch screen till in a small shop to a multi-site business operating many tills. When you choose our EPoSense touch screen till software you can take your pick of a host of great add-on packages. Our Electronic Point of Sale product solutions complement each other and you can combine them to meet the specific requirements of your<br>
                business.<br>
                Customised button colours and images with graphical table plan provide intuitive keyboard layouts for easy navigation. The till is simple for staff to learn and operate. Rely on EPoSense to ask the right questions at the right time so you know sales opportunities aren’t being missed. When an item is scanned, the system prompts staff to talk about offers and deals.<br>
                <strong>Loyalty Management Module</strong><br>
                Accounts details are integrated into the till so you know your customers and where they are spending their money. Run targeted promotions and point schemes, create vouchers and gift cards that will keep your customers coming back time and again.<br>
                The system sets the standard for the management of loyalty and discount schemes. Use it to oversee reward points and money-off initiatives at no extra cost: it’s already included in the system. EPoSense can also build a purchase history for customers and will manage customer account balances. All that adds up to maximised sales and improved targeting.<br>
                With our Loyalty Management Module you will gain a host of extra features specifically designed to boost trade. Together they will allow you to set up and manage much more complex loyalty schemes.
            </p>
            <p class="mt-20"><strong>Key Feature</strong></p>
            <ul>
                <li>Integrate credit card payments</li>
                <li>Security: Clerk Audit Trails</li>
                <li>Integrated CCTV syncs with the audit trail, meaning you get operation information overlaid on CCTV playback. See what’s happening at the till and by whom.</li>
                <li>Reliability continues to function with no internet connection</li>
                <li>Stock Management via EPoS terminal and mobile application</li>
                <li>Kitchen Video Printer & Bump Bar</li>
                <li>Order Collection Point Displays</li>
                <li>CallerID with Driver Delivery Management</li>
                <li>Self Service & Queue Busting</li>
                <li>Table ordering Android and IoS Apps</li>
                <li>Food Allergen Labelling System</li>
                <li>Trade counter System with Barcode Product Lookup</li>
            </ul>
        </div>
        <div class="col-lg-6 side-img">
            <div class="mb-10 plr">
                <img src="~/img/services/epos-top.jpg">
            </div>
            <div class="mb-10 plr">
                <img src="~/img/services/epos-middle.jpg">
            </div>
            <div class="mb-10 plr">
                <img src="~/img/services/epos-bottom.jpg">
            </div>
        </div>
    </div>
</section>
<!-- service-area-start -->
<div class="service-area pt-80 pb-30">
    <div class="container-fluid pl-30 pr-30 custom-max-width m-auto">
        <div class="row">
            <div class="col-md-4 col-lg-4">
                <a href="mobile-device-management">
                    <div class="single-service text-center">
                        <div class="service-icon"><img src="~/img/solutions/Mobile_device_management.png"></div>
                        <div class="service-text">
                            <h3>
                                Mobile Device Management
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>MDM enables you to manage devices in a way which best suits your organisation security and support needs.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="stock-control-system">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/Stock_control.png"></div>
                        <div class="service-text">
                            <h3>
                                Stock Control
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Accurate real time stock visibility across multiple sites and locations.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="epod-system">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/EPoD.png"> </div>
                        <div class="service-text">
                            <h3>
                                EPoD
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Provides reliable and accurate proof of delivery and collection, enabling signature and image capture.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="real-time-location-system">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/Rfid.png"> </div>
                        <div class="service-text">
                            <h3>
                                RFID-IoT
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>RFID Enabled item-level visibility of inventory across the enterprise. TrueVUE provides the foundation for Unified Commerce.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="loss-prevention">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/Lose_prevention.png"> </div>
                        <div class="service-text">
                            <h3>
                                Loss Prevention
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Sensormatic a full Suite of Innovative Solutions Designed to Protect Merchandise and Reduce Shrink.</p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-lg-4">
                <a href="ecommerce">
                    <div class="single-service text-center mb-70">
                        <div class="service-icon"><img src="~/img/solutions/Ecommerce.png"> </div>
                        <div class="service-text">
                            <h3>
                                eCommerce
                            </h3>
                        </div>
                        <div class="service-text">
                            <p>Integrated web trading platform for B2B or B2C”, apps for mobile/Tablet sales. Marketplace integration.</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<!-- service-area-end -->
