
@{
    ViewBag.Title = "GPS tracking software provides real time vehicle tracking & driver performance monitoring - BusinesSense - GaneData";
    ViewBag.Description = "Supports over 600+ industry standard trackers supports integration to BusinesSense and ERP systems, visiblitity of global assets and driver productivity, supports SMS alerts";
}

<!-- slider-area-start -->
<div class="slider-area">
    <div class="single-slider ptb-150" style="background-image:url(/img/services/fleet-banner.jpg)"></div>
    <div class="custom-green" style="padding: 20px; color: #ffffff;">
        <p class="page-title"><strong>Track-Sense: Fleet Tracking and Driver Management</strong></p>
        <p class="page-subtitle">Visualize your Fleet in Real Time</p>
    </div>
</div>

<section class="mt-30">
    <div class="container-fluid pl-30 pr-30 custom-max-width">
        <div class="col-md-6 description">
            <p style="text-align: justify;">
                TrackSense provides a complete web-based GPS fleet tracking in real-time, with accurate route tracking, location maps, Geo-location, points of interest, harsh braking and excess speed telemetry.<br>
                Our fleet tracking platform delivers live and historical data allowing managers to understand fleet activity at a glance.<br>
                Provides an effective tool to keep the overview and ensure operational excellence across your fleet.<br>
                Find the nearest vehicle to an urgent job from live GPS locations, web-portal allows seamless integration into other BusinesSense module or third-party ERP systems.<br>
                Actionable Intelligence, provides dashboards and reports to optimize your fleet productive. Prepare shipments just-in-time for pick-up Optimise vehicle utilisation Workforce Productivity tools to incentivise and rewarding safe driving behaviour, automate timesheets through Smart Mobile Applications with additional Electronic Proof of Delivery EPoD, Task and Job<br>
                Management capability.
            </p>
            <p><strong>Right solution for your sector</strong></p>
            <p>Fleet tracking software designed to meet the demands of your sectors and industry from implementation.</p>
            <ul>
                <li>Food and Drink</li>
                <li>Healthcare and Pharmaceutical</li>
                <li>Distribution and 3PL</li>
                <li>Building Supplies and Construction</li>
                <li>Agriculture and Perishable Goods</li>
            </ul>
            <p class="mt-20"><strong>Featured</strong></p>
            <ul>
                <li>Interactive live map</li>
                <li>Activity & Assets tracking</li>
                <li>Bread-crumbing all Journeys</li>
                <li>Geo-Fencing and alerts via email & SMS</li>
                <li>Paperless vehicle inspections improved safety and productivity</li>
                <li>Customisable Dashboards</li>
            </ul>
            <p class="mt-20"><strong>Full compliance management functionality as standard</strong></p>
            <ul>
                <li>Reduced Fuel & Overtime Costs</li>
                <li>Increased Productivity & Efficiency</li>
                <li>Vehicle Inspections Android Mobile Application</li>
                <li>Paperless compliance improves safety and productivity</li>
            </ul>
            <p class="mt-20"><strong>Enterprise Grade SaaS</strong></p>
            <p>Scale-able platform designed to integrate with your existing IT. CRM and ERP systems.</p>
            <ul>
                <li>System Integration via API</li>
                <li>Supported modules for EPoD, WMS & Van-Sales</li>
                <li>Mobile Driver Apps for Android & IoS</li>
                <li>Built to handle Big Data and IoT devices</li>
                <li>Secure architecture delivers confidentiality, integrity & availability</li>
            </ul>
        </div>
        <div class="col-md-6 side-img">
            <div class="mb-10 plr">
                <img src="~/img/services/fleet-top.jpg">
            </div>
            <div class="mb-10 plr">
                <img src="~/img/services/fleet-middle.jpg">
            </div>
            <div class="mb-10 plr">
                <img src="~/img/services/fleet-bottom.jpg">
            </div>
        </div>
    </div>
</section>
<!-- service-area-start -->
<div class="service-area pt-80 pb-30">
    <div class="container-fluid pl-30 pr-30">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center">
                    <div class="service-text">
                        <h4><a href="mobile-device-management">Mobile Device Management</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="mobile-device-management"><img src="~/img/solutions/Mobile_device_management.png"></a>
                    </div>
                    <div class="service-text">
                        <p>MDM enables you to manage devices in a way which best suits your organisation security and support needs.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="stock-control-system">Stock Control</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="stock-control-system"><img src="~/img/solutions/Stock_control.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Accurate real time stock visibility across multiple sites and locations.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="epod-system">EPoD</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="epod-system"><img src="~/img/solutions/EPoD.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Provides reliable and accurate proof of delivery and collection, enabling signature and image capture.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="mobile-van-sales">Mobile Van Sales</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="mobile-van-sales"><img src="~/img/solutions/Mobile_van_sales.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Van sales solution effectively manages on-the-road sales operations and payments.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="yard-management">Yard Management</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="yard-management"><img src="~/img/solutions/Yard_management.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Optimize Your Yard Resources with Intelligent, system-directed dock door management capabilities.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="ecommerce">eCommerce</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="ecommerce"><img src="~/img/solutions/Ecommerce.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Integrated web trading platform for B2B or B2C”, apps for mobile/Tablet sales. Marketplace integration.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- service-area-end -->
