
@{
    ViewBag.Title = "Time and Attendance for HR departments - BusinesSense - GaneData";
    ViewBag.Description = "TimeSense cloud based multisite easy to use solution. Record employee time and attendance accurately with fool-proof biometric terminals";
}

<!-- slider-area-start -->
<div class="slider-area">
    <div class="single-slider ptb-150" style="background-image:url(img/services/hr-banner.jpg)"></div>
    <div class="custom-green" style="padding: 20px; color: #ffffff;">
        <p class="page-title"><strong>TimeSense - Staff management software that saves hours</strong></p>
        <p class="page-subtitle">An easy to use, all in one employee scheduling app that scales with your business.</p>
    </div>
</div>

<section class="mt-30">
    <div class="container-fluid pl-30 pr-30">
        <div class="col-md-6 description">
            <p>
                <strong>Scalability with ease of use</strong><br>
                The system can be adapted to your business: from a single site SME to a global corporation delivers a streamlined answer to the enduring problem of managing your staff leave and time recording by our east to deploy facial recognition technology. Solution suited to enterprises where hygiene is a priority suchas healthcare, quick service restaurants and food manufacturing. Requires no cards eliminating buddy bunching improving time recording and staff productivity. Solution can be deployed globally managed via a single web portal, multiple roles with performance monitoring Dashboard and HR reports. Can be integrated into third party ERP/Payroll systems via supported API’s or integrated with our BusinesSense platform. Ideal for operations where staff maybe required to wear gloves such as warehouse, chemicals and pharmaceuticals.<br>
            </p>
            <p class="mt-20">
                <strong>Leave request Management</strong><br>
                Ensure you have the right people available through your busy periods by placing constraints on particular events with our “Restricted” days feature.
            </p>
            <ul>
                <li>Create your own custom leave types, choosing whether they require approval, affect allowance time, who they are available to and who can see them.</li>
                <li>You can setup your own leave type for Sick Leave, allow staff members to report another staff member off (up to 1 day max) and set who can see this leave type.</li>
                <li>Block out days as Public/Bank Holidays, or days where staff members are restricted from booking any leave.</li>
                <li>Bulk enter leave bookings for your staff members, handy for company days, Christmas or festive period shut down</li>
            </ul>
            <p class="mt-20">
                <strong>Policies & Restrictions</strong><br>
                Make your team adhere to your rules by implementing restrictions within WhosOff, from minimum department levels to staff v staff blocks.
            </p>

            <ul>
                <li>Setup restrictions between staff members where by a member of staff cannot clash leave with another member of staff.</li>
                <li>Yearly limits help restrict (by leave type) maximum time staff can take</li>
            </ul>
            <p class="mt-20">If your company allows staff members to carry leave from one year to the next, there are procedures to handle how much leave staff members can carry and also a yearly carryover tool to help handle the carryover process.</p>
            <p class="mt-20"><strong>Time and Attendance (T&amp;A) Key features</strong></p>
            <ul>
                <li>Data is sent encrypted to ensure protection and security.</li>
                <li>PUSH: Real time HTTPS communication.</li>
                <li>Biometric facial geometry identification algorithm</li>
                <li>Infra-red optical system enables identification in poorly lit environments</li>
                <li>Terminal can be remotely managed</li>
                <li>Fast staff enrollment</li>
                <li>Easy to install, scalable tracks your growth</li>
                <li>Supports Mifare RFID cards</li>
                <li>Access Control</li>
            </ul>
        </div>
        <div class="col-md-6 side-img">
            <div class="mb-10 plr">
                <img src="~/img/services/hr-top.png">
            </div>
            <div class="mb-10 plr">
                <img src="~/img/services/hr-bottom.png">
            </div>
            <!--<div class="mb-10 plr">-->
            <!--<img src="~/img/services/yard-bottom.jpeg">-->
            <!--</div>-->
        </div>
    </div>
</section>
<!-- service-area-start -->
<div class="service-area pt-80 pb-30">
    <div class="container-fluid pl-30 pr-30">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center">
                    <div class="service-text">
                        <h4><a href="warehouse-management-system">Warehouse Management</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="warehouse-management-system"><img src="~/img/solutions/Warehouse_management.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Automate your warehouse daily operation to improve accuracy and fulfillment rates.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="truevue-retail-rfid-solution">Retail Solutions</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="truevue-retail-rfid-solution"><img src="~/img/solutions/Retail_solutions.png"></a>
                    </div>
                    <div class="service-text">
                        <p>RFID Inventory intelligence enables Smarter Decision Making, enable retailers to harness data.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="epod-system">EPoD</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="epod-system"><img src="~/img/solutions/EPoD.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Provides reliable and accurate proof of delivery and collection, enabling signature and image capture.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="real-time-location-system">RFID-IoT</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="real-time-location-system"><img src="~/img/solutions/Rfid.png"></a>
                    </div>
                    <div class="service-text">
                        <p>RFID Enabled item-level visibility of inventory across the enterprise. TrueVUE provides the foundation for Unified Commerce.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="loss-prevention">Loss Prevention</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="loss-prevention"><img src="~/img/solutions/Lose_prevention.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Sensormatic a full Suite of Innovative Solutions Designed to Protect Merchandise and Reduce Shrink.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="ecommerce">eCommerce</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="ecommerce"><img src="~/img/solutions/Ecommerce.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Integrated web trading platform for B2B or B2C”, apps for mobile/Tablet sales. Marketplace integration.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- service-area-end -->
