
@{
    ViewBag.Title = "Gane Data provide Sensormatic loss prevention solution a globally trusted brand by leading retailers - Sensormatic - GaneData";
    ViewBag.Description = "Innovative loss prevention tools designed to protect merchandise, provide insights into shrink and increase operational efficiency. Support RFID & EAS tags";
}

<!-- slider-area-start -->
<div class="slider-area">
    <div class="single-slider ptb-150" style="background-image:url(img/services/lp-banner.jpg)"></div>
    <div class="custom-green" style="padding: 20px; color: #ffffff;">
        <p class="page-title"><strong>Retail Solutions Loss Prevention</strong></p>
        <!--<p class="page-subtitle">Managed your hospitality or retail store estate from one platform</p>-->
    </div>
</div>

<section class="mt-30">
    <div class="container-fluid pl-30 pr-30">
        <div class="col-md-6 description">
            <p style="text-align: justify;">
                <strong>Designed to Protect Merchandise and Reduce Shrink</strong><br>
                Sensormatic is one of the most trusted names in loss prevention. We offer innovative, top-quality solutions that help combat shrink and deliver predictive analytics and insights you can use to help improve operational efficiency and create a better shopper experience. Gane Data are an approved Sensormatic channel partner well positioned to deliver their full suite of connected retail solutions to our customers, service include integration, consultancy and project management.
            </p>
            <p style="text-align: justify;">
                <strong>Solutions for All Your Merchandise</strong><br>
                A wide range of options to best protect all types of merchandise and store formats. Our EAS solutions span AM, RF and RFID technologies and include detection systems, sensors, deactivators and detachers, and an analytics platform. Our comprehensive EAS solution offerings help ensure we have<br>
                the right solution for any retailer.
            </p>
            <p style="text-align: justify;">
                <strong>Innovative Technology</strong><br>
                Innovative loss prevention tools designed to protect merchandise, provide insights into shrink and increase operational efficiency.
            </p>
            <p style="text-align: justify;">
                <strong>Turning Data and Insights into Action</strong><br>
                Even the most detailed data is only as good as the insights drawn from it. Sensormatic Shrink Management as a Service (SMaaS) is a new cloud-based solution that collects highly detailed data.<br>
                With these easy-to-understand patterns, analytics and insights, you’ll be empowered to fuel profits by helping predict and prevent shrink. In addition, this new-found data helps you improve operational efficiencies, such as staff optimization, identification of training gaps, spotting ORC events and more.<br>
                SMaaS also includes remote management of equipment to ensure your system is running optimally.
            </p>
            <p style="text-align: justify;">
                <strong>Trusted Brand</strong><br>
                Chosen by renowned retailers to help protect billions and billions of items of all kinds.
            </p>
            <p style="text-align: justify;"><strong>Key Loss Prevention Components</strong></p>
            <p style="text-align: justify;">
                <strong>Detection System</strong><br>
                Technology that helps prevent loss and Organized Retail Crime with innovative technology designed to match a range of in-store aesthetics. Offered in a range of installation options, our family of Sensormatic detection systems uses reliable anti-shoplifting technology to help keep merchandise secure. Sensormatic detection systems offer visible or discreet coverage and come in a variety of<br>
                designs to match your store’s aesthetic, to help you find the perfect anti-theft solution for your business. Sensormatic detection systems also include options to help drive intelligence back into the supply chain to improve store operations, increase product availability and enhance the customer experience.
            </p>
            <p style="text-align: justify;">
                <strong>Sensors and tags</strong><br>
                Secure and protect merchandise with Sensormatic’s broad selection of tags and labels designed for a range of store formats and inventory. Sensormatic Solutions’ innovative, easy-to-apply sensors help retailers protect merchandise and deliver a frictionless customer experience. We offer a broad line of easy-to-apply Sensormatic hard tags and labels in AM, RF and RFID technologies to protect everything from apparel and cosmetics to hardware and groceries. Sensormatic anti-theft tagging options fit all needs, budgets and types of inventory so retailers can confidently open merchandise hard-to-protect items, help reduce shrink and increase sales.
            </p>
            <p>
                <strong>Detachers and Deactivators</strong><br>
                Designed to deliver ease and efficiency in deactivating and removing sensors, creating a seamless checkout experience and ease of use for store operations. Sensormatic detachers and deactivators quickly and efficiently remove hard tags or deactivate labels from protected merchandise at the point-of-sale (POS). We offer an unmatched variety of reliable Sensormatic deactivators with multiple<br>
                installation options and features, and a range of manual and powered Sensormatic detachers in sizes<br>
                that fit the smallest checkout stands to the largest DIY store POS systems.
            </p>
        </div>
        <div class="col-md-6 side-img">
            <div class="mb-10 plr first-img">
                <img src="~/img/services/lp-bottom.jpg">
            </div>
            <div class="second-img plr">
                <div class="mb-10 mr-10 its-width">
                    <img src="~/img/services/lp-top.jpg">
                </div>
                <div class="mb-10 its-width">
                    <img src="~/img/services/lp-middle.jpg">
                </div>
            </div>
            
        </div>
    </div>
</section>
<!-- service-area-start -->
<div class="service-area pt-80 pb-30">
    <div class="container-fluid pl-30 pr-30">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center">
                    <div class="service-text">
                        <h4><a href="epos-self-service">EPOS & Self Service</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="epos-self-service"><img src="~/img/solutions/Epose_self_service.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Single integrated cloud platform cloud for managing your hospitality or retail estate.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="stock-control-system">Stock Control</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="stock-control-system"><img src="~/img/solutions/Stock_control.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Accurate real time stock visibility across multiple sites and locations.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="epod-system">EPoD</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="epod-system"><img src="~/img/solutions/EPoD.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Provides reliable and accurate proof of delivery and collection, enabling signature and image capture.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="shoppertrak-business-intelligence">Business Intelligence</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="shoppertrak-business-intelligence"><img src="~/img/solutions/Business_intelligence.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Help your business to harness the power of data, inventory and loss prevention and turn insights into outcomes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="truevue-retail-rfid-solution">Retail Solutions</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="truevue-retail-rfid-solution"><img src="~/img/solutions/Retail_solutions.png"></a>
                    </div>
                    <div class="service-text">
                        <p>RFID Inventory intelligence enables Smarter Decision Making, enable retailers to harness data.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="ecommerce">eCommerce</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="ecommerce"><img src="~/img/solutions/Ecommerce.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Integrated web trading platform for B2B or B2C”, apps for mobile/Tablet sales. Marketplace integration.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- service-area-end -->
