
@{
    ViewBag.Title = "VXL's Fusion EMM handles every device (both static and mobile, including desktops, servers, routers and more) from within a single interface - GaneData";
    ViewBag.Description = "VXL Endpoint Protector offers MDM for iOS and Android. Enhanced control over the use of smartphones and tablets, enforcing strong security policies and detailed";
}

<!-- slider-area-start -->
<div class="slider-area">
    <div class="single-slider ptb-150" style="background-image:url(img/services/mdm-banner.jpg)"></div>
    <div class="custom-green" style="padding: 20px; color: #ffffff;">
        <p class="page-title"><strong>Go Beyond Mobile Device Management(MDM)</strong></p>
        <!--<p class="page-subtitle">Managed your hospitality or retail store estate from one platform</p>-->
    </div>
</div>

<section class="mt-30">
    <div class="container-fluid pl-30 pr-30">
        <div class="col-md-6 description">
            <p style="text-align: justify;">
                <strong>Fusion UEM – unified endpoint management</strong><br>
                Fusion UEM brings the industry-leading device management portfolio of applications – to Android (4.x upwards) and iOS (7.0 upwards) mobile devices, Windows desktop / laptop PCs (XP/7/8/10 IoT & Windows 7/10 Professional) and VXL Windows Embedded and Linux thin clients together with Windows-based thin clients from third parties.
            </p>
            <p style="text-align: justify;">
                <strong>Unified endpoint management that’s powerful, easy and affordable</strong><br>
                Rise to the challenge of endpoint management, using Fusion UEM for both mobile (iOS and Android) and static (Windows &amp; Windows Embedded desktops / laptops) devices. Fusion UEM also embraces corporate-liable devices, BYOD (bring your own device) policies and even single-use case scenarios with ease. Balancing simplicity and power, Fusion UEM delivers a new level of affordability to the enterprise endpoint management market.
            </p>
            <p style="text-align: justify;">
                <strong>Android enterprise architecture</strong><br>
                VXL Software’s Fusion UEM is designed from the ground up around the Android enterprise architecture – enabling organisations to deploy, manage and control Android devices with both ease and simplicity, embracing and supporting Android’s standards and industry best practice.
            </p>
            <p style="text-align: justify;">
                <strong>Android enterprise integration</strong><br>
                Fusion UEM supports Google domain accounts and managed Play accounts; user and device provisioning; policy controls (including configuration security, compliance and restrictions); work profile management; Google Play, Play store management; application permissions and restrictions; application management and distribution – and private app management.
            </p>
            <p style="text-align: justify;">
                <strong>Manage your organisation, your way</strong><br>
                Fusion UEM enables you to manage devices in a way which best suits your organisation, with hierarchical support for organisational units and groups – making the management of multiple devices as easy as it is for one. Fusion UEM also provides tiered administration, giving IT departments, managers and other stakeholders access to the information they need and the level of device control that’s relevant to their role.
            </p>
            <p style="text-align: justify;">
                <strong>Choose Software-as-a-Service(SaaS) or On-Premises Solutions</strong><br>
                The mobile device market moves quickly in every respect – new devices, operating systems versions/updates, applications and (of course) security risks. Organisations have enough to think about responding to these, let alone updating the software needed to manage mobile devices. Fusion UEM is browser-based – so we take care of the updates, keeping software in line with changing needs. Automatic load-balancing and fault-tolerance across multiple locations means that Fusion<br>
                UEM is responsive, wherever you are. Fusion UEM can be provided as a hosted service, or can be installed on your own network.
            </p>
            <p style="text-align: justify;">
                <strong>Comprehensive Android support</strong><br>
                Fusion UEM supports Android v4.x (Ice cream, Jellybean, Kit-kat), Android 5.x (Lollipop v5.1.1), 6.x (Marshmallow) and 7.x (Nougat) mobile phones and tablets – regardless of brand/manufacturer.
            </p>
            <p style="text-align: justify;">
                <strong>Comprehensive Apple iOS support</strong><br>
                Fusion UEM supports iOS version 7.0 onwards on all iPhones and iPads, including the iPad Pro and iPad Air.
            </p>

        </div>
        <div class="col-md-6 side-img">
            <div class="mb-10 plr">
                <img src="~/img/services/mdm-top.jpg">
            </div>
            <div class="mb-10 plr">
                <img src="~/img/services/mdm-middle.jpg">
            </div>
            <div class="mb-10 plr">
                <img src="~/img/services/mdm-bottom.jpg">
            </div>
            <div class="mb-10 plr description">
                <iframe src="https://www.youtube.com/embed/ehDQJYg9mCw?feature=oembed" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen=""></iframe>
            </div>
            <div class="mb-10 plr description">
                <p><a style="color: #35c08d;" href="uploads/Fusion_UEM_Overview-Brochure.pdf">Click Here To Download Our FUSION UEM Brochure</a></p>
            </div>
        </div>
    </div>
    <div class="container-fluid pl-30 pr-30 features">
        <div class="col-md-12 text-center">
            <h2 style="border-bottom: 1px solid; border-bottom-color: #000000; padding-bottom: 10px;">Feature</h2>
            <div class="col-md-6 text-left">
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-key"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">PERPETUAL LICENSE - LIFETIME OWNERSHIP</p>
                        <p class="feature-description">VXL provides Fusion UEM with a perpetual license for lifetime ownership rather than a monthly subscription. A perpetual license eliminates recurring costs other than optional annual support costs and ensures outright control of your IT estate.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-share-square-o"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">DEVICE PROVISIONING</p>
                        <p class="feature-description">Provision both Android (>4.x) and iOS (>7.0) mobile devices and Windows (XP/7/8/10 IoT) / Windows Embedded (XP/WES7/8/10 IoT) desktop/laptop PCs and thin client devices respectively.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-terminal"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">APPLICATION MANAGEMENT</p>
                        <p class="feature-description">Manage applications easily – including remote deployment, provisioning and installation, updates and secure removal.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">BOYD</p>
                        <p class="feature-description">Fusion UEM provides access to secure applications and data when on company networks or VPNs – and allows access to just personal applications and data when on public networks.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-line-chart"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">REMOTE CONTROL (PLATINUM)</p>
                        <p class="feature-description">Fusion UEM supports remote control situations: VNC and RDP for Windows OS and Linux thin clients and also Android and iOS mobility devices (optional cost).</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-globe"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">ROWSING MANAGEMENT (PLATINUM)</p>
                        <p class="feature-description">Manage device browsers easily – implement secure policies which restrict access to corporate intranets and defined websites.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-users"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">ADV. ENTERPRISE CONFIGURATIONS (PLATINUM)</p>
                        <p class="feature-description">Advanced enterprise configurations enable large organisations to control devices with greater power, flexibility and granularity.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-thumb-tack"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">GEOFENCING (PLATINUM)</p>
                        <p class="feature-description">Limit the use of a device to a specific geographic area including a 1 mile radius to the office, school etc.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 text-left">
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-wrench"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">DEVICE MANAGEMENT & ENROLMENT</p>
                        <p class="feature-description">Supports all Android and iOS phones & tablets, ruggedized devices such as CipherLabs and Tablet Technologies, Windows desktop and laptop PCs and VXL Windows & Linux thin clients together Windows-based thin clients from third parties.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-check-square-o"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">INVENTORY AND ASSET MANAGEMENT</p>
                        <p class="feature-description">Asset management ceases to be a chore with Fusion UEM – see all of your devices, in real time, and generate comprehensive reports.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-lock"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">GDPR & SECURITY MANAGEMENT</p>
                        <p class="feature-description">Helps you comply with the latest GDPR data protection regulations. Keep devices, corporate applications and data secure, in real time – for all devices, regardless of location.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-cloud-upload"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">BROWSER-BASED ADMINISTRATION</p>
                        <p class="feature-description">Built for today, Fusion UEM’s hosted browser-based software is quick and intuitive to use. Everything is just a click or two away.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-envelope"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">E-MAIL MANAGEMENT (PLATINUM)</p>
                        <p class="feature-description">Manage e-mail settings, policies, clients and data on mobile devices as easily as you would with desktop clients.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-file-text"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">CONTENT MANAGEMENT (PLATINUM)</p>
                        <p class="feature-description">Control corporate content, using flexible admin rules – define who can access documents and editing rights. Audit trails log file access and update information.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-map-marker"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">GPS TRACKING (PLATINUM)</p>
                        <p class="feature-description">Provides live location status of mobile device including street map view and tracking history by day, week or month.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 feature-icon">
                        <i class="fa fa-mobile"></i>
                    </div>
                    <div class="col-md-9">
                        <p class="feature-title">PHONE BLOCKING</p>
                        <p class="feature-description">Block communications including what numbers a device can call or receive calls from.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- service-area-start -->
<div class="service-area pt-80 pb-30">
    <div class="container-fluid pl-30 pr-30">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center">
                    <div class="service-text">
                        <h4><a href="warehouse-management-system">Warehouse Management</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="warehouse-management-system"><img src="~/img/services/media/warehouse.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Automate your warehouse daily operation to improve accuracy and fulfillment rates.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="stock-control-system">Stock Control</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="stock-control-system"><img src="~/img/services/media/stockcontrol.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Accurate real time stock visibility across multiple sites and locations.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="epod-system">EPoD</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="epod-system"><img src="~/img/services/media/epod.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Provides reliable and accurate proof of delivery and collection, enabling signature and image capture.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="real-time-location-system">RFID-IoT</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="real-time-location-system"><img src="~/img/services/media/rfid-iot.png"></a>
                    </div>
                    <div class="service-text">
                        <p>RFID Enabled item-level visibility of inventory across the enterprise. TrueVUE provides the foundation for Unified Commerce.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="loss-prevention">Loss Prevention</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="loss-prevention"><img src="~/img/services/media/lossprevention.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Sensormatic a full Suite of Innovative Solutions Designed to Protect Merchandise and Reduce Shrink.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="single-service text-center mb-70">
                    <div class="service-text">
                        <h4><a href="ecommerce">eCommerce</a></h4>
                    </div>
                    <div class="service-icon">
                        <a href="ecommerce"><img src="~/img/services/media/eCommerce.png"></a>
                    </div>
                    <div class="service-text">
                        <p>Integrated web trading platform for B2B or B2C”, apps for mobile/Tablet sales. Marketplace integration.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<footer>
    <div class="disclaimer">
        <p>Illumineye’ and ‘VXL Software’ are registered trading names or trademarks (The “Marks”) of VXL Software Solutions Pvt Ltd in Europe and/or other countries / jurisdictions.</p>
        <hr>
    </div>
</footer>
<!-- service-area-end -->
