
@{
    ViewBag.Title = "News";
}

<div class="text-white mb-50"
     style="background-image:url(img/bg/blog-banner1.jpg); background-position: center; background-size: cover">
    <div class="ptb-150" style="background-color: #000000; opacity: 0.7">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-title text-center">
                    <h1>Our Latest News</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid pl-30 pr-30 custom-max-width m-auto font-size-14">
    <div class="row">
        <div class="col-md-8 col-lg-8 mt-sm-50">
            <article class="recent-news-entry">
                <div class="date">
                    <span class="day">05</span>
                    <span class="month">
                        <span>Sep</span> <span class="year">14</span>
                    </span>
                </div>
                <div class="entry-details">
                    <header class="entry-title">
                        <h2 class="title-heading"><a href="">Working Outside Of The Office</a></h2>
                    </header>
                    <div class="entry-excerpt">
                        <p>
                            Coffee saucer ristretto sweet galão barista at body, eu, milk, barista coffee acerbic variety
                            americano, lungo roast robusta est java turkish. A as robusta half and half galão ristretto,
                            wings…
                        </p>
                    </div>
                </div>
            </article>
            <article class="recent-news-entry">
                <div class="date">
                    <span class="day">05</span>
                    <span class="month">
                        <span>Sep</span> <span class="year">14</span>
                    </span>
                </div>
                <div class="entry-details">
                    <header class="entry-title">
                        <h2 class="title-heading"><a href="">Working Outside Of The Office</a></h2>
                    </header>
                    <div class="entry-excerpt">
                        <p>
                            Coffee saucer ristretto sweet galão barista at body, eu, milk, barista coffee acerbic variety
                            americano, lungo roast robusta est java turkish. A as robusta half and half galão ristretto,
                            wings…
                        </p>
                    </div>
                </div>
            </article>
            <article class="recent-news-entry">
                <div class="date">
                    <span class="day">05</span>
                    <span class="month">
                        <span>Sep</span> <span class="year">14</span>
                    </span>
                </div>
                <div class="entry-details">
                    <header class="entry-title">
                        <h2 class="title-heading"><a href="">Working Outside Of The Office</a></h2>
                    </header>
                    <div class="entry-excerpt">
                        <p>
                            Coffee saucer ristretto sweet galão barista at body, eu, milk, barista coffee acerbic variety
                            americano, lungo roast robusta est java turkish. A as robusta half and half galão ristretto,
                            wings…
                        </p>
                    </div>
                </div>
            </article>
            <article class="recent-news-entry">
                <div class="date">
                    <span class="day">05</span>
                    <span class="month">
                        <span>Sep</span> <span class="year">14</span>
                    </span>
                </div>
                <div class="entry-details">
                    <header class="entry-title">
                        <h2 class="title-heading"><a href="">Working Outside Of The Office</a></h2>
                    </header>
                    <div class="entry-excerpt">
                        <p>
                            Coffee saucer ristretto sweet galão barista at body, eu, milk, barista coffee acerbic variety
                            americano, lungo roast robusta est java turkish. A as robusta half and half galão ristretto,
                            wings…
                        </p>
                    </div>
                </div>
            </article>
        </div>

        <div class="col-md-3 col-lg-3">
            <div class="blog-widget">
                <div class="col-lg-12 mb-30">
                    <form id="search" action="#">
                        <input type="search" placeholder="Search in here" />
                        <button type="submit" class="searchform-submit">
                            <span class="fa fa-search" aria-hidden="true"></span>
                            <span class="screen-reader-text"></span>
                        </button>
                    </form>
                </div>
                <div class="col-lg-12 text-white mb-30">
                    <h4 style="background-color: #00b54a; padding: 10px 10px; text-align: center;">Blog & News</h4>
                </div>
                <div class="col-lg-12 mb-30">
                    <ul class="list-item">
                        <li><a href="blog">Blog</a></li>
                        <li><a href="#">News</a></li>
                        <li><a href="#">Case Studies</a></li>
                        <li><a href="Promotions">Promotions</a></li>

                    </ul>
                </div>
                <div class="col-lg-12 text-white mb-30">
                    <h4 style="background-color: #00b54a; padding: 10px 10px;text-align: center;">Archive</h4>
                </div>
                <div class="col-lg-12 mb-30">
                    <ul>
                        <li><a href="#">September 2014</a></li>
                    </ul>
                </div>
                <div class="col-lg-12 text-white mb-30">
                    <h4 style="background-color: #00b54a; padding: 10px 10px;text-align: center;">Lets Get Social</h4>
                </div>
                <div class="col-lg-12 mb-30">
                    <p class="mb-20">Follow us via our social profiles for the latest news in Web Design & WordPress</p>
                    <div style="font-size: 2em;">
                        <i style="color: #00aced;" class="fa fa-twitter-square"></i>
                        <i style="color: #3b5998;" class="fa fa-facebook-square"></i>
                        <i style="color: #dd4b39;" class="fa fa-google-plus-square"></i>
                        <i style="color:#C4302B;" class="fa fa-youtube-square"></i>
                        <i style="color: #FF7900;" class="fa fa-rss-square"></i>
                    </div>
                </div>
                <div class="col-lg-12 mb-30 text-white">
                    <h4 class="mb-20" style="background-color: #00b54a; padding: 10px 10px;text-align: center;">Tags</h4>
                    <ul class="Tagcloud">
                        <li><a href="#">Computer</a></li>
                        <li><a href="#">Guide</a></li>
                        <li><a href="#">Seo</a></li>
                        <li><a href="#">jQuery</a></li>
                        <li><a href="#">Wordpress</a></li>
                        <li><a href="#">Angular</a></li>
                        <li><a href="#">Node</a></li>
                        <li><a href="#">Express</a></li>
                        <li><a href="#">Gulp</a></li>
                        <li><a href="#">Sass</a></li>
                        <li><a href="#">Bootstrap</a></li>
                        <li><a href="#">Html5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

