@{
    ViewBag.Title = "Our Services";
    ViewBag.Description = "";
}

<div class="slider-area">
    <div class=" ptb-100 bg-opacity" style="background-image:url(img/bg/icons-bg.jpg)">
        <div class="container">
            <div class="slider-text text-center">
                <h1 class="cd-headline clip is-full-width">
                    <span>
                        <b class="is-visible">Our Services</b>
                        <p><i>Enable business process automation through sustainable technologies.</i></p>
                    </span>
                </h1>
                <a class="custom-green" href="getstarted">ARRANGE A DEMONSTRATION <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="services-info description">
    <div class="container-fluid pl-30 pr-30 custom-max-width">
        <div class="col-md-6">
            <div class="text-justify">
                <div style="padding: auto; color: #ffffff;">
                    <h1>Services Info</h1>

                    <p>
                        Encompass software development, system installation, wireless networking
                        and independent technology advice, hardware repairs with tailored service level agreements
                        whilst drawing on the skills of our teams unrivaled technical knowledge.
                        Established relations with technology manufacturers such as Zebra, Honeywell, Paasonic, PosLab,
                        Cipherlab, Zebex and many more allows us to offer price performance from the best of breed.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <a href="#" class="btn btn-default"
               style="color: #ffffff; width: 100%; margin-top: 10%; font-weight: 400; border-color: rgb(255, 255, 255); background-color: rgba(0, 0, 0, 0) !important;">Our Partners</a>
        </div>
    </div>
</div>

<div class="slider-area">
    <div style="background-image:url(img/bg/parallax1.jpg);">
        <div class=" ptb-100" style="background-color: #000000; opacity: 0.8">
            <div class="container-fluid pl-30 pr-30 custom-max-width">
                <div class="slider-text text-center">
                    <h1 class="cd-headline clip is-full-width">
                        <span><b class="is-visible"><i class="fa fa-gears"> </i>Our Services</b></span>
                    </h1>
                </div>
                <div class="container-fluid pl-30 pr-30 our-services">
                    <div class="col-md-4 mb-20">
                        <div style="border: 3px solid #00b54a;" class="pt-30">
                            <div class="single-What-wedo mb-30 text-white">
                                <div class="What-wedo-text text-center">
                                    <div class="icon-box-square">
                                        <a href="#"><i class="fa fa-briefcase"></i></a>
                                    </div>
                                    <h3><a href="#" style="color: #ffffff;">Managed Services And Support</a></h3>
                                    <p style="color: #ffffff;">Very few businesses have the internal resources and skills needed to fully support an enterprise mobility cloud hosted solution.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-20">
                        <div style="background-color: #ffffff; border: 1px solid #000000;" class="pt-30">
                            <div class="single-What-wedo mb-30 text-white">
                                <div class="What-wedo-text text-center">
                                    <div class="icon-box-square">
                                        <a href="#"><i class="fa fa-contao"></i></a>
                                    </div>
                                    <h3><a href="#" style="color: #000000;">Project Management And Implementation</a></h3>
                                    <p style="color: #000000;">Expert guidance and a smooth transition over to your new software system. Designed to seamlessly support your current ERP.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-20">
                        <div style="border: 3px solid #00b54a;" class="pt-30">
                            <div class="single-What-wedo mb-30 text-white">
                                <div class="What-wedo-text text-center">
                                    <div class="icon-box-square">
                                        <a href="#"><i class="fa fa-truck"></i></a>
                                    </div>
                                    <h3><a href="#" style="color: #fff;">Client Services</a></h3>
                                    <p style="color: #fff;">There to assist you as your business evolves. Enhancing operations, efficient and productive workflows as you grow.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-20">
                        <div style="background-color: #ffffff; border: 1px solid #000000;" class="pt-30">
                            <div class="single-What-wedo mb-30 text-white">
                                <div class="What-wedo-text text-center">
                                    <div class="icon-box-square">
                                        <a href="#"><i class="fa fa-shield"></i></a>
                                    </div>
                                    <h3><a href="#" style="color: #000000;">System Integration</a></h3>
                                    <p style="color: #000000;">Integrate our solution modules into a wide range of market-leading ERP enterprise suites which specialise in the supply chain, including SAP, Microsoft Dynamics,etc</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-20">
                        <div style="border: 3px solid #00b54a;" class="pt-30">
                            <div class="single-What-wedo mb-30 text-white">
                                <div class="What-wedo-text text-center">
                                    <div class="icon-box-square">
                                        <a href="#"><i class="fa fa-money"></i></a>
                                    </div>
                                    <h3><a href="#" style="color: #fff;">Software Development</a></h3>
                                    <p style="color: #fff;">Bespoke Software carefully tailored to meet the needs of each of our clients. Designed to seamlessly support your current ERP and other systems</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-20">
                        <div style="background-color: #ffffff; border: 1px solid #000000;" class="pt-30">
                            <div class="single-What-wedo mb-30 text-white">
                                <div class="What-wedo-text text-center">
                                    <div class="icon-box-square">
                                        <a href="#"><i class="fa fa-mixcloud"></i></a>
                                    </div>
                                    <h3><a href="#" style="color: #000000;">Consultancy</a></h3>
                                    <p style="color: #000000;">We combine strategy, technology and expertise to enable your business transformation journey to succeed. Designed to seamlessly support your current ERP.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pl-30 pr-30 custom-max-width">
    <div class="container-fluid pl-30 pr-30 pt-30 pb-30">
        <div class="col-sm-6 text-right">
            <h3 style="font-size:18px;font-weight:600;"><span>Industries</span></h3>

            <p>
                Food and beverage<br>
                Wholesale and distribution<br>
                Retail and Hospitality<br>
                Construction<br>
                Healthcare
            </p>
        </div>
        <div class="col-sm-6">
            <img class="img-responsive" src="~/img/bg/Technologies.jpg">
        </div>
    </div>
</div>
<div style="background-color: #eeeeee;" class="pt-30 pb-30">
    <div class="container-fluid pl-30 pr-30 custom-max-width">
        <div class="container-fluid pl-30 pr-30 pt-30 pb-30">
            <div class="col-sm-6">
                <img class="img-responsive mb-20" src="~/img/bg/Industries.jpg">
            </div>
            <div class="col-sm-6 text-left">
                <h3 style="font-size:18px;font-weight:600;"><span>Technologies</span></h3>

                <p>
                    Seamless data capture, auto-id and systems integration<br>
                    Mobile and vehicle mounted computers<br>
                    Bar code scanning and label printing<br>
                    Wireless and mobile Infrastructure<br>
                    Cloud Enterprise Platforms<br>
                    RFID and IoT
                </p>
            </div>
        </div>
    </div>
</div>
