@model WMS.Models.ProductGroups
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Product Group</title>
</head>
<body>
    <hgroup>
        <h2><span>Product Groups</span></h2>
        <h3><span>@Html.ValidationSummary("", new { @id = "vldProductGroup" })</span></h3>
    </hgroup>

    <div class="leftcol">

        @using (Ajax.BeginForm("_ProductGroupSubmit", "Products", null, new AjaxOptions() { }, new { @id = "frmProductgroup" }))
            {

            <div class="form-group">
                @Html.LabelFor(model => model.ProductGroup, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(m => m.ProductGroup)
                    @Html.ValidationMessageFor(m=> m.ProductGroup)

                </div>
            </div>
                <div class="form-group">
                    <div class="col-md-10">
                        <input type="button" onclick="productGroupPost()" value="Save" class="btn btn-default" />
                        <input type="button" onclick="cancelproductgroupadd()" value="Cancel" class="btn btn-default" />


                    </div>
                </div>



        }

    </div>
</body>




</html>