

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Location Type</title>
</head>
<body>
    <div class="leftcol">
        <div class="form-group">
            <label class="control-label col-md-2">Warrenty Start Date</label>
            <div class="col-md-10">
                @Html.DevExpress().DateEdit(d =>
           {
               d.Properties.ClientSideEvents.DateChanged = "startDateChange";
               d.Name = "StartDate";
               d.Date = DateTime.Today;
           }).GetHtml()

            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Warrenty End Date</label>
            <div class="col-md-10">
                @Html.DevExpress().DateEdit(d =>
           {
               d.Properties.ClientSideEvents.DateChanged = "endDateChange";
               d.Name = "EndDate";
               d.Date = DateTime.Today;
           }).GetHtml()

            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10 bottom-right-popup">
                <input type="button" onclick="ModelWarrenty.Hide()" value="Cancel" class="btn btn-default" />
                <input type="button" onclick="saveDates()" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

</body>
</html>