<div class="progressBarStep ordConfirmationPgStepsec">
    <ul id="progressList">
        <li class="active">
            <div class="HalfCircle"></div>
            <span class="txt">Product</span><span class="count"><i class="icon-product"></i></span>
        </li>
        <li class="active">
            <div class="HalfCircle"></div>

            <span class="txt">Basket</span><span class="count"><i class="icon-basket-cart"></i></span>
        </li>
        <li class="active">
            <div class="HalfCircle"></div>
            <span class="txt">Review Items</span><span class="count"><i class="icon-review-items"></i></span>
        </li>
        <li>
            <div class="HalfCircle"></div>
            <span class="txt">Billing & Shipping</span><span class="count">
                <i class="icon-billing-shipping"></i>
            </span>
        </li>
        <li>
            <div class="HalfCircle"></div>
            <span class="txt">Payment</span><span class="count"><i class="icon-credit-card"></i></span>
        </li>
        <li>
            <div class="HalfCircle"></div>
            <span class="txt">Order Confirmation</span><span class="count"><i class="icon-tick1"></i></span>
        </li>
    </ul>
</div>