@model Ganedata.Core.Entities.Domain.CheckoutViewModel
@using Ganedata.Core.Entities.Enums;
@Html.Hidden("collectionPointId", (int?)Model.CollectionPointId)
<div class="checkout-options-wrapper">
    <div class="addNewAddrWrap">
        <h5 class="subheadCmn">Select Collection Point</h5>
        <div class="addNwAdrrFormWrap">
            <div class="row">
                <div class="col-lg-12">
                    <div class="form-group">
                        <div class="findAddrWrap">
                            <input type="text" class="findAddrInput text-target-postcode" placeholder="Enter Postcode" />
                            <button class="fadBtn" onclick="findNearCollectionPoints();">Search</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="collection-points row mt-3"></div>
        </div>
        <button class="addnwShopAdrrbtn" onclick="chooseCollectionPoint(@((int)CheckoutStep.PaymentMethod))">Select Collection Point</button>
    </div>
</div>