@{
    ViewBag.Title = "PaymentInfo";
}


<div class="about bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12 bg-white my-account login">
                <div class="about-cnt">
                    <div class="content-wrapper select">
                        <h2 class="text-uppercase">Add Payment Information</h2>
                        <hr />
                        

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>like