
@{
    ViewBag.Title = "Promotions";
}

<div class="slider-area">
    <div class=" ptb-100 bg-opacity" style="background-image:url(img/bg/promotion-banner.jpg)">
        <div class="container">
            <div class="slider-text text-center">
                <h1 class="cd-headline clip is-full-width">
                    <span>
                        <b class="is-visible">Our Promotions</b>
                        <p>
                            <i>
                                Missed out on any of our offers? Click on the links below for details of all our
                                campaigns and promotions that have gone out this year.
                            </i>
                        </p>
                    </span>
                </h1>
                <a class="custom-green" href="get-started">ARRANGE A DEMONSTRATION <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="slider-area">
    <div class="pt-30 pb-30" style="background-color: #00b45a;">
        <div class="container">
            <div class="slider-text text-center">
                <h1 class="clip is-full-width">
                    <span class="cd-words-wrapper">
                        --Our Campaigns And Promotions--
                    </span>
                </h1>
            </div>
        </div>
    </div>
</div>

<div class="full-width-grey">
    <div class="row container-fluid pl-30 pr-30 mb-30 custom-max-width m-auto">
        <div class="col-lg-3">
            <div class="promotion text-center">
                <img src="~/img/bg/cipher.jpg" class="img-responsive mb-20 mt-20">
                <h2 class="mb-20">New Products from CipherLab!</h2>
                <p class="mb-20"><strong>%60 OFF</strong></p>
                <a class="btn btn-group-lg custom-green mb-20" href="#">Learn More</a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="promotion text-center">
                <img src="~/img/bg/cipher.jpg" class="img-responsive mb-20 mt-20">
                <h2 class="mb-20">New Products from CipherLab!</h2>
                <p class="mb-20"><strong>%60 OFF</strong></p>
                <a class="btn btn-group-lg custom-green mb-20" href="#">Learn More</a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="promotion text-center">
                <img src="~/img/bg/cipher.jpg" class="img-responsive mb-20 mt-20">
                <h2 class="mb-20">New Products from CipherLab!</h2>
                <p class="mb-20"><strong>%60 OFF</strong></p>
                <a class="btn btn-group-lg custom-green mb-20" href="#">Learn More</a>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="promotion text-center">
                <img src="~/img/bg/cipher.jpg" class="img-responsive mb-20 mt-20">
                <h2 class="mb-20">New Products from CipherLab!</h2>
                <p class="mb-20"><strong>%60 OFF</strong></p>
                <a class="btn btn-group-lg custom-green mb-20" href="#">Learn More</a>
            </div>
        </div>

    </div>
</div>

