
@{
    ViewBag.Title = "Load Order In Truck";

}


<section class="content">

    <div class="row">
        <div class="col-12 col-xl-4">
            <div class="box">
                <div class="box-header with-border">
                    <h4 class="box-title">Create Sales Order</h4>
                    <div class="box">
                        <div class="box-header with-border">
                            <h4 class="box-title">Todo</h4>
                            <ul class="box-controls pull-right d-md-flex d-none">
                                <li class="dropdown">
                                    <button class="btn btn-primary dropdown-toggle px-10 " data-bs-toggle="dropdown" href="#">Create</button>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <a class="dropdown-item" href="#"><i class="ti-import"></i> Import</a>
                                        <a class="dropdown-item" href="#"><i class="ti-export"></i> Export</a>
                                        <a class="dropdown-item" href="#"><i class="ti-printer"></i> Print</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#"><i class="ti-settings"></i> Settings</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="box-body">
                            <div class="d-flex align-items-center mb-25">
                                <span class="bullet bullet-bar bg-success align-self-stretch"></span>
                                <div class="h-20 mx-20 flex-shrink-0">
                                    <input type="checkbox" id="md_checkbox_21" class="filled-in chk-col-success">
                                    <label for="md_checkbox_21" class="h-20 p-10 mb-0"></label>
                                </div>

                                <div class="d-flex flex-column flex-grow-1">
                                    <a href="#" class="text-dark hover-success fw-500 fs-16">
                                        Create FireStone Logo
                                    </a>
                                    <span class="text-fade fw-500">
                                        Due in 2 Days
                                    </span>
                                </div>
                                <div class="dropdown">
                                    <a class="px-10 pt-5" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end" style="">
                                        <h6 class="dropdown-header">Choose Label:</h6>
                                        <a class="dropdown-item flexbox" href="#">
                                            <span class="badge badge-primary-light">Customer</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-danger-light">Partner</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-success-light">Suplier</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-info-light">Member</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item flexbox" href="#">
                                            <span>Add New</span>
                                            <span class="badge badge-pill badge-default">+</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-25">
                                <span class="bullet bullet-bar bg-primary align-self-stretch"></span>
                                <div class="h-20 mx-20 flex-shrink-0">
                                    <input type="checkbox" id="md_checkbox_22" class="filled-in chk-col-primary">
                                    <label for="md_checkbox_22" class="h-20 p-10 mb-0"></label>
                                </div>

                                <div class="d-flex flex-column flex-grow-1">
                                    <a href="#" class="text-dark hover-primary fw-500 fs-16">
                                        Lorem ipsum dolor sit amet
                                    </a>
                                    <span class="text-fade fw-500">
                                        Due in 2 Days
                                    </span>
                                </div>
                                <div class="dropdown">
                                    <a class="px-10 pt-5" href="#" data-bs-toggle="dropdown"><i class="ti-more-alt"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <h6 class="dropdown-header">Choose Label:</h6>
                                        <a class="dropdown-item flexbox" href="#">
                                            <span class="badge badge-primary-light">Customer</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-danger-light">Partner</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-success-light">Suplier</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-info-light">Member</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item flexbox" href="#">
                                            <span>Add New</span>
                                            <span class="badge badge-pill badge-default">+</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-25">
                                <span class="bullet bullet-bar bg-danger align-self-stretch"></span>
                                <div class="h-20 mx-20 flex-shrink-0">
                                    <input type="checkbox" id="md_checkbox_23" class="filled-in chk-col-danger">
                                    <label for="md_checkbox_23" class="h-20 p-10 mb-0"></label>
                                </div>

                                <div class="d-flex flex-column flex-grow-1">
                                    <a href="#" class="text-dark hover-danger fw-500 fs-16">
                                        Vivamus consectetur urna
                                    </a>
                                    <span class="text-fade fw-500">
                                        Due in 2 Days
                                    </span>
                                </div>
                                <div class="dropdown">
                                    <a class="px-10 pt-5" href="#" data-bs-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end" style="">
                                        <h6 class="dropdown-header">Choose Label:</h6>
                                        <a class="dropdown-item flexbox" href="#">
                                            <span class="badge badge-primary-light">Customer</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-danger-light">Partner</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-success-light">Suplier</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-info-light">Member</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item flexbox" href="#">
                                            <span>Add New</span>
                                            <span class="badge badge-pill badge-default">+</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-25">
                                <span class="bullet bullet-bar bg-info align-self-stretch"></span>
                                <div class="h-20 mx-20 flex-shrink-0">
                                    <input type="checkbox" id="md_checkbox_24" class="filled-in chk-col-info">
                                    <label for="md_checkbox_24" class="h-20 p-10 mb-0"></label>
                                </div>

                                <div class="d-flex flex-column flex-grow-1">
                                    <a href="#" class="text-dark hover-info fw-500 fs-16">
                                        Sed quis augue sed augue
                                    </a>
                                    <span class="text-fade fw-500">
                                        Due in 2 Days
                                    </span>
                                </div>
                                <div class="dropdown">
                                    <a class="px-10 pt-5" href="#" data-bs-toggle="dropdown"><i class="ti-more-alt"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <h6 class="dropdown-header">Choose Label:</h6>
                                        <a class="dropdown-item flexbox" href="#">
                                            <span class="badge badge-primary-light">Customer</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-danger-light">Partner</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-success-light">Suplier</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-info-light">Member</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item flexbox" href="#">
                                            <span>Add New</span>
                                            <span class="badge badge-pill badge-default">+</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex align-items-center mb-25">
                                <span class="bullet bullet-bar bg-warning align-self-stretch"></span>
                                <div class="h-20 mx-20 flex-shrink-0">
                                    <input type="checkbox" id="md_checkbox_25" class="filled-in chk-col-warning">
                                    <label for="md_checkbox_25" class="h-20 p-10 mb-0"></label>
                                </div>

                                <div class="d-flex flex-column flex-grow-1">
                                    <a href="#" class="text-dark hover-warning fw-500 fs-16">
                                        Aliquam in magna
                                    </a>
                                    <span class="text-fade fw-500">
                                        Due in 2 Days
                                    </span>
                                </div>
                                <div class="dropdown">
                                    <a class="px-10 pt-5" href="#" data-bs-toggle="dropdown"><i class="ti-more-alt"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <h6 class="dropdown-header">Choose Label:</h6>
                                        <a class="dropdown-item flexbox" href="#">
                                            <span class="badge badge-primary-light">Customer</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-danger-light">Partner</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-success-light">Suplier</span>
                                        </a>
                                        <a class="dropdown-item" href="#">
                                            <span class="badge badge-info-light">Member</span>
                                        </a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item flexbox" href="#">
                                            <span>Add New</span>
                                            <span class="badge badge-pill badge-default">+</span>
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    </section>
