@using Ganedata.Core.Entities.Domain
@using Ganedata.Core.Entities.Enums
@using PagedList.Mvc
@model PagedList.IPagedList<PalletsDispatch>


@{
    ViewBag.Title = "Load Order In Truck";

}
<style>
    .card-body {
        padding: 0.1rem !important
    }

    .table > tbody > tr > td {
        padding: 0.12rem !important;
    }
</style>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            @*<label class="form-label">Order Numbers</label>*@
            <input type="text" class="form-control" placeholder="Scan or Enter Order No" onkeydown="ReplaceHtmlWithNewOne(event)">
        </div>

    </div>
    <div class="row" id="deliveries-list" style="margin-top:2px;">

        @Html.Action("_DeliveriesResult", new { palletDispatchStatus = PalletDispatchStatusEnum.Loaded })

    </div>
</div>
@Html.Partial("~/Views/Home/_UnLoadTruck.cshtml")