@using Ganedata.Core.Entities.Domain
@using Ganedata.Core.Entities.Enums
@using PagedList.Mvc
@model PagedList.IPagedList<PalletsDispatch>


@{
    ViewBag.Title = "Load Order In Truck";

}
<style>
    .card-body {
        padding: 0.1rem !important
    }

    .table > tbody > tr > td {
        padding: 0.5rem !important;
    }
</style>
<script src="~/Scripts/jquery-3.5.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
<section class="content">


    <div class="row">
        <form>
            <div class="form-group">
                @*<label class="form-label">Order Numbers :</label>*@
                <input type="text" class="form-control search-order" placeholder="Scan or Enter Order No" onkeydown="ReplaceHtmlWithNewOne(event)">
            </div>
        </form>
    </div>
    <div class="row" id="deliveries-list">

        @Html.Action("_DeliveriesResult", new { palletDispatchStatus = PalletDispatchStatusEnum.Loaded })

    </div>


</section>
@Html.Partial("~/Views/Home/_UnLoadTruck.cshtml")