@model Ganedata.Core.Models.ForgotViewModel
@{
    ViewData["Title"] = "Forgot your password?";    
    ViewData["AppWithFooter"] = true;
}

<!-- BEGIN login -->
<div class="login">
    <!-- BEGIN login-content -->
    <div class="login-content">
        <h2 class="">@ViewData["Title"]</h2>
        <div class="text-muted mb-4">
            Enter your email.
        </div>
        
        <form asp-action="ForgotPassword" method="post" class="login_form bg-angle">            
            <div class="form-group">
                <input asp-for="Email" class="form-control form-control-lg fs-15px" , placeholder="username@address.com" />
                <span asp-validation-for="Email" class="badge badge-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-login btn-block fw-500 mb-3">Submit</button>

            <div class="text-center">
                Back to <a asp-controller="Account" asp-action="Login" class="btn-default">Login</a> screen.
            </div>
        </form>
    </div>
    <!-- END login-content -->
</div>
<!-- END login -->
