
    <div class="col-sm-3">
        <ul class="menu-about account-ul">
            <li class="active"><a href="@Url.Action("Account","User")" class="">My Account</a></li>
            <li><a href="@Url.Action("OrderHistory","User")">Order History</a></li>
            <li><a href="@Url.Action("WishList","Products")">WishList</a></li>
        </ul>
    </div>