

<div class="nb_basket_wrap">
    <table class="basketTable">
        <thead>
            <tr>
                <th>Product</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    <div class="prdimgsec">
                        <span class="prdimg">
                            <img src="images/prdtableitem2.jpg" />
                        </span>
                        <span class="prdname">Unisex Zipped Hoodie - Grey</span>
                    </div>
                </td>
                <td>
                    <div id="price" class="price">
                        £34.99
                    </div>
                </td>
                <td>
                    <div class="qtyboxwrap">
                        <span id="decre_count" class="min">-</span>
                        <input id="counter" type="number" value="1" />
                        <span id="incre_count" class="max">+</span>
                    </div>
                </td>
                <td>
                    <div id="total_amnt" class="total">£34.99</div>
                </td>
            </tr>

            <tr>
                <td>
                    <div class="prdimgsec">
                        <span class="prdimg">
                            <img src="images/prdtableitem1.jpg" />
                        </span>
                        <span class="prdname">Knitted Scarf</span>
                    </div>
                </td>
                <td>
                    <div id="price" class="price">
                        £34.99
                    </div>
                </td>
                <td>
                    <div class="qtyboxwrap">
                        <span id="decre_count" class="min">-</span>
                        <input id="counter" type="number" value="1" />
                        <span id="incre_count" class="max">+</span>
                    </div>
                </td>
                <td>
                    <div id="total_amnt" class="total">£34.99</div>
                </td>
            </tr>


        </tbody>
    </table>

    <div class="coupen_codewrap">
        <input type="text" placeholder="Coupen Code" />
        <button class="coupenSubmitbtn"><i class="icon-right-arrow"></i></button>
    </div>


</div>


