
@{
    Layout = null;
}
<!-- Modals for add to cart and kit product attribute selection -->
<div class="modal fade basket-modal" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content basket-modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Added to Basket</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>

            </div>
            <div class="modal-body">
                <div class="cart-item-data">

                </div>

            </div>
            <div class="botomBtnsec modal-footer">
                <button class="btmbtn sho" onclick="CartItemCount();">CONTINUE SHOPPING</button>
                <button class="btmbtn pro" onclick="window.location.href='@Url.Action("ReviewOrder","Orders")'">Go To Basket</button>
            </div>
        </div>
    </div>
</div>
