
<div class="addNwAdrrFormWrap">
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <div class="findAddrWrap">
                    <input type="text" id="collection-point-post-code__input" class="findAddrInput text-target-postcode" placeholder="Enter Postcode"/>
                    <button class="fadBtn" onclick="findNearCollectionPoints();">Search</button>
                </div>
            </div>
        </div>
    </div>
    <div class="collection-points row mt-3"></div>
</div>