@model List<Ganedata.Core.Entities.Domain.WebsiteDeliveryNavigation>

@if (Model.Count > 0)
{
    <section class="nb_sec nb_header_btm_beedsec">
        <div class="nb_sec_navwrap">
            <div class="container">
                <div class="navListWrap">
                    <ul class="nb_sec_navlist">
                        @foreach (var item in Model)
                        {
                            <li>
                                <a href="@item.Url">
                                    <i class="ico @item.IconName"></i>
                                    <span class="txt">@item.TextDescription</span>
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </section>
}