
@{
    Layout = null;
}
<div class="modal fade" id="kit-product" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-current-step="1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="js-title-step">Choose Attribute For Kit Product</h4>
            </div>
            <div style="display:none">
                <label style="color:red" id="#errorprint"></label>
            </div>
            <div class="modal-body">
                <div class=" row kit-model-body">

                </div>
                @*<div class="row">
                    <div class="col-md-6 off-set-4">
                        <label>Select same attribute for this product</label>
                        <div class="dynamic-dropdown">

                        </div>

                    </div>
                </div>*@

            </div>

            <div class="modal-footer botomBtnsec">
                <button type="button" class="btmbtn sho" data-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btmbtn previous" data-step-to="prev">
                    Previous
                </button>
                <button type="button" class="btmbtn pro" data-step-to="next">
                    Next
                </button>
                <button type="submit" class="btmbtn submit">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>
