
@{
    Layout = null;
}
<div class="modal fade" id="product-by-attribute-selector" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-current-step="1" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="js-title-step">Select The Product Attributes</h4>
            </div>
            <div style="display:none">
                <label style="color:red" id="#errorprint"></label>
            </div>
            <div class="modal-body product-by-attribute-selector-model-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Close
                </button>
                <button type="submit" class="btn btn-success" onclick="addProductByAttributeToCart()">
                    Add To Basket
                </button>
            </div>
        </div>
    </div>
</div>
