@model List<Ganedata.Core.Entities.Domain.WebsiteNavigation>
@if (Model != null && Model.Count > 0)
{
    <section class="nb_sec nb_top_catSection">
        <div class="container">
            <div class="nb_header_style1">
                <h3>Top Categories</h3>
            </div>
            <div class="accordion">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <div>
                                <a href="@Url.Action("list","Products",new {category=item.Name })">
                                    <h2>@item.Name</h2>
                                </a>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </section>
}
<!-- top categories section -->
