<!-- header section -->
<header class="nb_header">
    <div class="res_navWrapper">
        <span class="nb_res_nav_closeTrigger">X</span>
        <span class="nb_logowrap_res">
            <img src="  ~/Content/Theme/University/app/images/logo_invert.svg" alt="" />
        </span>
        <div class="nb_firstNav_res_lst_wrap"></div>
        <button class="nb_lgn_btn_res">Login</button>
    </div>
    <div class="container">
        <div class="search_wrap_main">
            <form class="form-inline">
                <label class="sr-only" for="searchinput">Name</label>
                <input type="search"
                       class="form-control search_input"
                       id="searchinput"
                       placeholder="Search Here" />
                <button type="button"
                        id="serchBtnico"
                        class="btn btn-primary search_btn"
                        onclick="getVoidData()">
                    <i class="icon-search"></i>
                </button>
            </form>
        </div>
        <div class="nb_logowrap">
            <a href="index.html">
                <img src="~/Content/Theme/University/app/images/logo.png" alt="" />
            </a>
        </div>
        <ul class="nb_headicolst">
            <li class="sir">
                <a href="" id="triggerSearch">
                    <i class="ico icon-search"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ico icon-phone-call"></i>
                </a>
            </li>
            <li>
                <a href="" data-toggle="modal" data-target="#signupPopup">
                    <i class="ico icon-user"></i>
                </a>
            </li>
            <li>
                <a href="">
                    <i class="ico icon-love"></i>
                </a>
            </li>
            <li class="cartIcoWrap sir">
                <a href="">
                    <i class="ico icon-shopping-cart"></i>
                    <span>12</span>
                </a>
            </li>
            <li class="sir" id="nb_res_navTrigger">
                <a href="#">
                    <i class="ico icon-list-menu"></i>
                </a>
            </li>
        </ul>
        <nav class="nb_mainnav">
            <ul class="nb_mainnav_list">
                <li class="active">
                    <a href="index.html">
                        Home
                    </a>
                </li>
                <li>
                    <a href="">
                        New
                    </a>
                </li>
                <li class="hav_mega_nav">
                    <a href="listingpage.html">
                        Clothing
                    </a>
                    <div class="mega_nav_wrap">
                        <div class="mega_nav_wrap_inner">
                            <h3 class="head">Clothing</h3>
                            <ul class="meganav_firstcatList">
                                <li data-image-nav-src="~/Content/Theme/University/app/images/meganavimg_mens.jpg">
                                    <a href="@Url.Action("list","Product")">
                                        Men
                                    </a>
                                </li>
                                <li>
                                    <a href="listingpage.html">
                                        Women
                                    </a>
                                    <ul class="subList">
                                        <li><a href="#">Jogging Bottom</a></li>
                                        <li><a href="#">Zip Performance Top</a></li>
                                        <li><a href="#">Jogging Shorts</a></li>
                                        <li><a href="#">T-Shirts</a></li>
                                        <li><a href="#">Leggings </a></li>
                                    </ul>
                                </li>
                                <li>
                                    <a href="listingpage.html">
                                        Accessories
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="listingpage.html">
                        Sportwear
                    </a>
                </li>
                <li>
                    <a href="listingpage.html">
                        Merchandise
                    </a>
                </li>
                <li>
                    <a href="listingpage.html">
                        Graduation
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<!-- header section -->

<section class="nb_sec nb_header_btm_beedsec">
    <div class="nb_sec_navwrap">
        <div class="container">
            <ul class="nb_sec_navlist">
                <li>
                    <a href="">
                        <i class="ico icon-tick"></i>
                        <span class="txt">Easy Returns</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="ico icon-click"></i>
                        <span class="txt">Click & Collect</span>
                    </a>
                </li>
                <li>
                    <div href="">
                        <i class="ico icon-verified"></i>
                        <span class="txt">100% Purchase Protection</span></a
                        >
                </li>
                <li>
                    <a href="">
                        <i class="ico icon-delivery-truck"></i>
                        <span class="txt">Next Day Delivery</span>
                    </a>
                </li>
                <li>
                    <a href="">
                        <i class="ico icon-star"></i>
                        <span class="txt">Rate Excellent</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>