@model IEnumerable<Ganedata.Core.Entities.Domain.POView>

@{
    ViewBag.Title = "Receive Purchase Order";
}

<h2><span>Receive Purchase Order</span></h2>

<hr />

<script type="text/javascript">
    //<![CDATA[
    function OnGridFocusedRowChanged(s, e) {

        var name = s.name;
       

        $('.selkey').val(s.GetRowKey(s.GetFocusedRowIndex()));
    }

    function OnGetRowValues(values) {
        //alert(values[0]);
        //$('.selkey').val(values[0]);
    }
    // ]]>
</script>

@Html.Hidden("selkey", null, new { @class = "selkey" })


<div class="row View">

    @Html.Action("_POView")

</div>


<br /> <br />

<div class="row">

    @if (WMS.Helpers.LayoutHelpers.ActivityValidator("RecevePO", "Create"))
    {

        @Html.ActionLink("Receive PO", "Create", null, new { @class = "btn btn-primary Caction" })

    }

    


</div>



@*<script type="text/javascript">
    $(function () {

        $('.pb').each(function () {


            $(this).progressbar({ value: $(this).data('value') });

        });


    });

 </script>*@