@{
    ViewData["Title"] = "Forgot password confirmation";
}

<!-- BEGIN login -->
<div class="login">
    <!-- BEGIN login-content -->
    <div class="login-content">
        <h2 class="">@ViewData["Title"]</h2>
        <p>
            Please check your email to reset your password.
        </p>
        <div class="text-center">
            <a href="@Url.Action("Login", "User")">Go back to <b>Login</b> screen</a>
        </div>
    </div>
    <!-- END login-content -->
</div>
<!-- END login -->
