@model Ganedata.Core.Entities.Domain.CheckoutViewModel
@using Ganedata.Core.Entities.Enums;

@Html.Hidden("collectionPointId", (int?)Model.CollectionPointId)
<div class="checkout-options-wrapper">
    <div class="addNewAddrWrap">
        <h5 class="subheadCmn">Select Collection Point</h5>
        @Html.Partial("_CollectionPointSelector")
        <div class="btnWrap">
            <button class="addnwShopAdrrbtn" id="select-collection-point__button" disabled onclick="chooseCollectionPoint(@((int)CheckoutStep.BillingAddress))">Select Collection Point</button>
            <a href="@Url.Action("GoToPreviousStep","orders")" class="addnwShopAdrrbtn">Back</a>
        </div>
    </div>
</div>

<script>
    function onCollectionPointSelected(id, name, postcode, address) {
        if ($("#select-collection-point__button").length > 0) {
            $("#select-collection-point__button").removeAttr("disabled");
        }
    }
</script>