@model Ganedata.Core.Entities.Domain.CheckoutViewModel
@using Ganedata.Core.Entities.Enums
@{
    ViewBag.Title = "Checkout";
}
    <script src="~/Scripts/javascript-checkout-process.js"></script>
<div class="checkout-main-div">
    @Html.Action("_CheckoutProcessPartial", Model)

</div>