@{
    ViewBag.Title = "Sagepay";
}
<style>
    body * {
        font-family: sans-serif;
    }

    h1 {
    }

    input {
        font-size: 12pt;
    }

    #main {
        width: 550px;
        margin: 0 auto;
        margin-top: 20px;
    }
</style>
<div id="main">
    <h1>Payment Details</h1>
    <div id="sp-container"></div>
    <p><a id="my-tokenisation-trigger" href="#" class="btn btn-default">tokenise</a></p>
    <script type="text/javascript" src="https://pi-test.sagepay.com/api/v1/js/sagepay.js"></script>
    <script type="text/javascript">
    const checkout = sagepayCheckout({
        merchantSessionKey: '@ViewBag.AuthCode',
        onTokenise: function (tokenisationResult) {
            if (tokenisationResult.success) {
                debugger;
                alert(tokenisationResult.cardIdentifier);
            } else {
                debugger;
                alert(tokenisationResult.error.errorMessage);
            }
        }
    });
    $('#my-tokenisation-trigger').click(function (e) {
        e.preventDefault();
        checkout.tokenise();
    });
    </script>

</div>
