@{
    ViewBag.Title = "Sagepay";
}
<style>
    body * {
        font-family: sans-serif;
    }

    h1 {
    }

    input {
        font-size: 12pt;
    }

    #main {
        width: 550px;
        margin: 0 auto;
        margin-top: 20px;
    }

    #submit-container {
        padding-top: 10px;
        float: right;
    }

    input[type=submit] {
        border: none;
        background: indigo;
        padding: 6px;
        margin: 6px;
        color: white;
        border-radius: 5px;
    }
</style>

<script src="https://pi-test.sagepay.com/api/v1/js/sagepay.js"></script>

<div id="main" class="about bg-white confirm-order-page">
    <form>
        <h1>Payment Details</h1>
        <div id="sp-container"></div>
        <div id="submit-container">
            <input type="submit" />
        </div>
    </form>
</div>

<script>
    sagepayCheckout({ merchantSessionKey: '@ViewBag.AuthCode' }).form();
</script>