
    <div class="col-lg-3 col-md-12 ">
        <ul class="menu-about account-ul">
            <li class="active"><a href="@Url.Action("Account","User")" class="">My Account</a></li>
            <li><a href="@Url.Action("OrderHistory","User")">Order History</a></li>
            <li><a href="@Url.Action("WishList","User")">WishList</a></li>
        </ul>
    </div>